/* Construct v1.1 - minimal   */

.colorscheme_bg,.has_image_banner #intro_inner .intro_title,
#slider_module_inner .overlay_slide .slide_title,#slider_module_inner .partial_gradient_slide .slide_content,
.tabs_vertical li.current a, .featured_tabs li.current_page_item a,.tabs_vertical li a:hover, .featured_tabs li a:hover,
body,body>.multibg>.multibg,#footer,.wp-pagenavi .current,.paged-navigation .current,
.comment-reply-link,.comment-edit-link,.post-edit-link,.post_more_link,.button_link,.fancy_button,#searchsubmit,#submit,
.cluetip-default,.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#1fb3dd;}
.colorscheme_color,.rsswidget,h1,.intro_title,.post_title a,.tabs a.current,a:hover,.fancy_link,.icon_teaser_link,.dropcap2,.pullquote3,.highlight2,h5{/*:Color Scheme*/
color:#1fb3dd;}
.colorscheme_border,.tabs a.current,.fancy_header3 span,#reply-title:after,.blog_tabs a.current,
.tabs_vertical li.current span, .featured_tabs li.current_page_item span,
body,#content_wrap,.wp-pagenavi .current,.paged-navigation .current,
.comment-reply-link,.comment-edit-link,.post-edit-link,.post_more_link,.button_link,.fancy_button,#searchsubmit,#submit,
.cluetip-default,.cluetip-default .cluetip-arrows,.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#1fb3dd;}
.colorscheme_sprite,#intro .tweet,#outro .mysite_twitter_widget li,
.mysite_twitter_widget li,.recentcomments,.contact_widget_name,.contact_widget_phone,.contact_widget_email,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3{/*:Icon Sprite*/
background-image:url(_sprites/custom_sprite_1fb3dd.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#888;font-size:12px;font-weight:normal;font-style:normal;font-family:Verdana, Geneva, Tahoma, sans-serif;}
h1{/*:h1 Font*/ 
color:#444;font-size:30px;font-weight:normal;font-style:normal;font-family:varela;}
h2{/*:h2 Font*/ 
color:#444;font-size:24px;font-weight:normal;font-style:normal;font-family:varela;}
h3{/*:h3 Font*/ 
color:#444;font-size:18px;font-weight:normal;font-style:normal;font-family:varela;}
h4{/*:h4 Font*/ 
color:#333;font-size:14px;font-weight:normal;font-style:normal;font-family:varela;}
h5{/*:h5 Font*/ 
/*color:inherit@;*/font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
h5{/*:h5 Bottom Border*/
border-bottom-color:#f0f0f0;border-bottom-width:1px;border-bottom-style:dashed;}
h6{/*:h6 Font*/ 
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
a{/*:Link */
color:#aaa;text-decoration:none;}
a:hover{/*:Link Hover */
/*color:inherit@;*/text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
body{/*:Body Border */
/*border-top-color:inherit@;*/border-top-width:5px;border-top-style:solid;}
#content_wrap{/*:Content Wrap Background */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
#content_wrap{/*:Content Wrap Border */
/*border-top-color:inherit@;*/border-top-width:0px;border-top-style:solid;}
/*:Body End ~*~*/


/*:Header ~*~*/
.logo a{/*:Logo Font */
color:#888;font-size:24px;font-weight:normal;font-style:normal;font-family:varela;}
#header{/*:Header Background */
background-image:none;background-color:transparent;background-repeat:no-repeat;background-attachment:scroll;background-position:center bottom;}
#header_inner{/*:Header Bottom Border */
border-bottom-color:#f0f0f0;border-bottom-width:1px;border-bottom-style:solid;}
#header_extras{/*:Header Extras Font */
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
#header_extras a{/*:Header Extras Links */
/*color:inherit@;*/text-decoration:none;}
#header_extras a:hover{/*:Header Extras Link Hover */
/*color:inherit@;*/text-decoration:underline;}
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu>ul>li>a>span{/*:Menu Font */
color:#444;font-size:13px;font-weight:normal;font-style:normal;font-family:varela;}
.jqueryslidemenu li li a{/*:Dropdown Font */
color:#aaa;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
.jqueryslidemenu li li a:hover{/*:Dropdown Hover Color */
color:#aaa;}
.jqueryslidemenu ul ul{/*:Dropdown Background */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:top center;}
.jqueryslidemenu ul ul{/*:Dropdown Border */
border-color:#f0f0f0;border-width:1px;border-style:solid;}
.jqueryslidemenu li li{/*:Dropdown Item Border */
border-bottom-color:#f0f0f0;border-bottom-width:1px;border-bottom-style:solid;}
.jqueryslidemenu li li a:hover{/*:Dropdown Item Hover Background */
background-image:none;background-color:#f9f9f9;background-repeat:repeat;background-attachment:scroll;background-position:top left;}
/*:Menu End ~*~*/


/*:Intro ~*~*/
#intro .intro_title{/*:Intro Title Font */ 
color:#444;font-size:30px;font-weight:normal;font-style:normal;font-family:varela;}
#intro .teaser{/*:Intro Teaser Font */
color:#aaa;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#444;font-size:18px;font-weight:normal;font-style:normal;font-family:varela;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#ccc;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
#intro,#slider_module{/*:Intro Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
#intro_inner{/*:Intro Bottom Border */
border-bottom-color:#f0f0f0;border-bottom-width:1px;border-bottom-style:solid;}
/*:Intro End ~*~*/


/*:Main Content ~*~*/
#content{/*:Main Content Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
#sidebar .widgettitle{/*:Sidebar Titles Font */
color:#c2c2c2;font-size:10px;font-weight:normal;font-style:normal;font-family:varela;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro,#outro a{/*:Outro Font */
color:#888;font-size:16px;font-weight:normal;font-style:normal;font-family:varela;}
#outro{/*:Outro Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#outro_inner{/*:Outro Top Border */
border-top-color:#f0f0f0;border-top-width:1px;border-top-style:solid;}
/*:Outro End ~*~*/


/*:Footer ~*~*/
#footer{/*:Footer Font */
color:#c2c2c2;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#444;font-size:10px;font-weight:normal;font-style:normal;font-family:varela;}
#footer a{/*:Footer Links */
/*color:inherit@;*/text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#ddd;text-decoration:none;}
#footer{/*:Footer Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#footer_inner{/*:Footer Top Border */
border-top-color:#f0f0f0;border-top-width:1px;border-top-style:solid;}
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer,#sub_footer a{/*:Sub Footer Font */
color:#ccc;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer a:hover{/*:Sub Footer Link Hover */
color:#bbb;text-decoration:none;}
#sub_footer{/*:Sub Footer Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Sub Footer End ~*~*/


/*:Blog and Portfolio ~*~*/
.post_title,.post_title a{/*:Post Titles Color */ 
/*color:inherit@;*/}
.rss-date,.previous_post,.next_post,#comments .date,.portfolio .date,.post_meta_bottom,.post_meta_bottom a,.post_meta,.post_meta a{/*:Meta Font */
color:#c2c2c2;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
.previous_post a:before,.next_post a:before,.post_meta_bottom a,.post_meta a{/*:Meta Links */
/*color:inherit@;*/text-decoration:none;}
.post_meta_bottom a:hover,.post_meta a:hover{/*:Meta Links Hover */
/*color:inherit@;*/text-decoration:underline;}
.about_author_title,.commentlist cite,.commentlist cite a{/*:Author Font */
color:#444;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
.tabs,.fancy_header3,.additional_posts_title,#comments-title,#reply-title,.blog_tabs{/*:Misc Tabs Border */
border-bottom-color:#eee;border-bottom-width:1px;border-bottom-style:solid;}
.tabs a,.fancy_header3 span,.additional_posts_title,#comments-title,#reply-title,.blog_tabs a{/*:Misc Tabs Font */
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
.tabs a.current,.fancy_header3 span,.additional_posts_title:after,#comments-title:after,#reply-title:after,.blog_tabs a.current{/*:Current Tab Border Color */
border-bottom-color:#f3f3f3;}
.tabs a.current,.fancy_header3 span,.additional_posts_title,#comments-title,#reply-title,.blog_tabs a.current{/*:Current Tab Color */
color:#333;}
/*:Blog and Portfolio End ~*~*/


/*:Form Elements ~*~*/
.mysite_responsive #responsive_menu,#footer #s,#footer .textfield,#footer .password,#footer .textarea,.textfield,.password,.textarea,#s,#comment{/*:Form Fields Border */
border-color:#eee;border-width:1px;border-style:solid;}
.mysite_responsive #responsive_menu,#footer #s,#footer .textfield,#footer .password,#footer .textarea,.textfield,.password,.textarea,#s,#comment{/*:Form Fields Background */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
#footer #s,#footer .textfield,#footer .password,#footer .textarea,.textfield,.password,.textarea,#s,#comment{/*:Form Fields Font */
color:inherit;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
.comment-reply-link,.comment-edit-link,.post-edit-link,.post_more_link,.button_link,.fancy_button,#searchsubmit,#submit{/*:Buttons Background */
background-image:url(../images/shortcodes/button_overlay.png);/*background-color:inherit@;*/background-repeat:repeat;background-attachment:scroll;background-position:left -1px;}
.comment-reply-link,.comment-edit-link,.post-edit-link,.post_more_link,.button_link,.fancy_button,#searchsubmit,#submit{/*:Buttons Border */
/*border-color:inherit@;*/border-width:1px;border-style:solid;}
.button_link,.fancy_button,#searchsubmit,#submit{/*:Medium Button Font */
color:#fff;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
.comment-reply-link,.comment-edit-link,.post-edit-link,.post_more_link,.small_button{/*:Small Button Font */
color:#fff;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
.call_to_action,.large_button{/*:Large Button Font */
color:#fff;font-size:18px;font-weight:normal;font-style:normal;font-family:inherit;}
.comment-reply-link:hover,.comment-edit-link:hover,.post-edit-link:hover,.post_more_link:hover{/*:Button Hover Color */
color:#fff;}
/*:Form Elements End ~*~*/



/*:Slider ~*~*/
#slider_module_inner{/*:Slider Bottom Border */
border-bottom-color:#f0f0f0;border-bottom-width:1px;border-bottom-style:solid;}
.slide_title{/*:Slide Title Font */
color:#888;font-size:28px;font-weight:normal;font-style:normal;font-family:varela;}
.slide_content{/*:Slide Content Font */
color:#aaa;font-size:14px;font-weight:normal;font-style:normal;font-family:inherit;}
.has_image_banner #intro_inner .intro_title,.overlay_slide .slide_title,.partial_gradient_slide .slide_title{/*:Overlay/Gradient Title Color */
color:#fff;}
.overlay_slide .slide_content,.partial_gradient_slide .slide_content{/*:Overlay/Gradient Text Color */
color:#eee;}
.overlay_slide .slide_content p{/*:Overlay Slide Background */
background-image:url(_rgba/black70.png);background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:left center;}
/*:Slider End ~*~*/



/*:Misc ~*~*/
.divider{/*:Divider Border */
border-bottom-color:#f0f0f0;border-bottom-width:0px;border-bottom-style:solid;}
.divider{/*:Divider Background */
background-image:url(../images/shortcodes/inset_line.png);background-color:transparent;background-repeat:repeat-x;background-attachment:scroll;background-position:left bottom;}
.tabs_vertical li a,.featured_tabs li a{/*:Vertical Tabs Background */
background-image:none;background-color:#f8f8f8;background-repeat:repeat;background-attachment:scroll;background-position:left top;}
.tabs_vertical li a, .featured_tabs li a{/*:Vertical Tabs Font */
color:#aaa;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
.tabs_vertical li a:hover,.featured_tabs li a:hover,.tabs_vertical li.current a,.featured_tabs li.current_page_item a{/*:VT Hover/Active BG Color */
/*background-color:inherit@;*/}
.tabs_vertical li.current span,.featured_tabs li.current_page_item span{/*:VT Hover/Active BG Color */
/*border-color:inherit@;*/}
.tabs_vertical li a:hover,.featured_tabs li a:hover,.tabs_vertical li.current a,.featured_tabs li.current_page_item a{/*:VT Hover/Active Font Color */
color:#fff;}
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/  
color:#444;font-size:14px;font-weight:normal;font-style:normal;font-family:varela;}
#content .teaser{/*:Content Teaser Font */ 
color:#888;font-size:16px;font-weight:normal;font-style:normal;font-family:varela;}
/*:Misc End ~*~*/





/* Custom CSS */
.rss-date,#comments .date,.portfolio .date,.share_this_title,.additional_posts_title,.commentlist_title,#reply-title,#comments-title,.blog_tabs,#footer .widgettitle,#sidebar .widgettitle,.previous_post a,.next_post a,.post_meta_bottom,.post_meta_bottom a,.post_meta,.post_meta a{letter-spacing:1px;text-transform:uppercase;line-height:20px;}

#body_inner{position:relative;margin:15px auto;}