/*
Theme Name: Modular
Theme URI: https://modular.backstopthemes.com
Description: A simple and enduring responsive WordPress Theme
Author: BackStop Themes
Author URI: https://backstopthemes.com
Version: 2.8.8
Text Domain: backstop-themes
License:     GPL2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, footer-widgets, flexible-header, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
*/

/*  TOC 
01. GENERAL TYPOGRAPHY 
02. STRUCTURE
03. MENU
04. POST LISTS & GRIDS
05. SINGULAR POSTS
06. WIDGETS & SHORTCODES
07. SLIDERS
08. PROGRESSIVE ENHANCEMENTS
09. RESPONSIVENESS & MOBILE
10. GUTENBERG EDITOR
*/

/*
===============================================================================================================
01. GENERAL TYPOGRAPHY
=============================================================================================================== */

/* Global Reset
-------------------------------------------------------------- */
html,body,div,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,p,ul,ol,li{vertical-align:baseline;padding:0;margin:0;}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin-bottom:20px;}
input,textarea{font-family:inherit;padding:4px;}
img,fieldset{border:0;}
body{letter-spacing:-.2px;word-spacing:.5px;line-height:20px;font-size:13px;}
a,a:hover,a:active,a:focus{text-decoration:none;outline:0 none;outline-style:none;}
ol{list-style:decimal outside;}
ul{list-style:disc outside;}
ul,ol{padding-left:25px;}
li ol,li ul{margin-bottom:0;}

/* Headers
-------------------------------------------------------------- */
h1{font-size:34px;line-height:104%;letter-spacing:0px;}
h2{font-size:30px;line-height:117%;letter-spacing:0px;}
h3{font-size:22px;line-height:136%;letter-spacing:0px;}
h4{font-size:16px;line-height:156%;letter-spacing:0px;}
h5{font-size:10px;letter-spacing:4px;text-transform:uppercase;font-family:arial;border-bottom:3px double #ECECEC;padding-bottom:7px;margin-bottom:20px;}
h6{font-size:10px;letter-spacing:3px;text-transform:uppercase;}
h4+h6{margin-top:-10px;}

/* Forms & Buttons 
-------------------------------------------------------------- */
.textfield,.password,.textarea,#s,#comment{background:url(images/textfield.png) repeat-x 0 0 #f7f7f7;color:#aaa;border-color:transparent;border-color:rgba(0,0,0,0.015);border-style:solid;border-width:0 1px 1px;font-size:13px;}
.textarea,#comment{background-image:url(images/textarea.png);width:95%;}
.textfield:focus,.password:focus,.textarea:focus,#s:focus,#comment:focus{outline:0 none;opacity:.7;color:#333;}
.fancy_button,.button_link,#searchsubmit,.post_more_link,#respond #submit{background-image:url(images/button_gradient.png);border:2px solid #fff !important;}
.post_more_link{text-decoration:none;background:#222;color:#eee;display:inline-block;padding:2px 15px;font-size:10px;letter-spacing:.5px;text-transform:uppercase;margin-bottom:5px;}
.post_more_link:hover{text-decoration:none;color:#fff;}
.call_to_action.alignright{margin-top:3px;margin-bottom:3px;}
/* search */
#searchsubmit{position:relative;top:-1px;}
.right_sidebar #searchsubmit{padding:10px 15px;}
.left_sidebar #sidebar #searchsubmit{padding:10px 5px;}
.left_sidebar #sidebar #s{width:115px;}

/* Images & Galleria
-------------------------------------------------------------- */
.gallery .gallery-caption { color: #aaa; font-size: 10px; margin: 0 0 10px;}
.fancy_image_caption{bottom:-19px;}
.fancy_image img,#body_inner .galleria-container,.wp-caption,#content .gallery img,.single_post_image img,.post_grid_image img,.post_list_image img,
.framed,.video_frame,.mysite_flickr_widget img,.about_author_module .avatar{background:#fff;border:none;padding:4px;}
.wp-caption img{padding-top:5px;}
.about_author_module .avatar,.small_post_list .post_list_image img{float:left;margin:1px;padding:3px;border:none;}
#slider_module .video_frame{border:0;padding:0;}
/* galleria */
#body_inner .galleria-thumbnails .galleria-image{background:transparent;border:0;}
#body_inner .galleria-stage{top:5px!important;left:5px!important;right:5px!important;bottom:50px!important;}
#body_inner .galleria-thumbnails-container{bottom:5px!important;left:5px!important;right:5px!important;height:40px!important;}

/* Custom Columns
-------------------------------------------------------------- */
.one_half{width:48.5%;}
.one_third{width:31.333%;}
.two_third{width:65.667%;}
.one_fourth{width:22.75%;}
.three_fourth{width:74.25%;}
.one_fifth{width:17.6%;}
.two_fifth{width:38.2%;}
.three_fifth{width:58.8%;}
.four_fifth{width:79.4%;}
.one_sixth{width:14.167%;}
.five_sixth{width:82.833%;}
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth{margin-right:3%;}

/*
===============================================================================================================
02. STRUCTURE
=============================================================================================================== */

body{position:relative;min-width:998px;}
#body_inner{position:relative;min-width:998px;}
#header_inner,#footer_inner,#sub_footer_inner,#outro_inner,#slider_module,#intro,#content{width:980px;margin:0 auto;}
#sidebar .widget,#slider_module_inner,#intro_inner,.page,
.post_excerpt_module,.post_module,.share_this_module,.about_author_module,#respond,.popular_posts_module,.related_posts_module,.comment-text,
.post_grid_module,.post_list_module,.single_post_module,
.additional_posts_module .blog_tabs_content,.blog_tabs_content .trackbacks_pingbacks,.additional_posts{margin-bottom:10px;padding:20px;}
.widget .post_grid_module, .widget .post_list_module,
.additional_posts_module .post_list_module,.additional_posts_module .post_grid_module,
.page .post_list_module,.page .post_grid_module{background:none!important;padding:0!important;border:none!important;}
.post_grid_module{margin-right:10px;margin-bottom:10px;}
.post_list_module{margin-bottom:10px;}

/* Custom Backgrounds
-------------------------------------------------------------- */
body.has_custombg>.multibg>.multibg,body.has_custombg>.multibg{background:none;display:none;}
body.has_custombg #body_inner{background:none;}

/* Header
-------------------------------------------------------------- */
#header{border-bottom:5px solid rgba(0,0,0,0.1);border-top:2px solid rgba(0, 0, 0, 0.35);height:90px;position:relative;}
#header_extras+#header{border-top:0;}
#header_inner{position:relative;z-index:400;}
#header_extras_inner{padding:2px 0;overflow:hidden;margin:0 auto;width:980px;}
.header_links{float:left;font-size:10px;padding:2px 0 3px;}
.header_links a{padding:1px;}
.header_links a:hover{text-decoration:none;color:#fff;}
.header_links li{float:left;padding-right:12px;}
.header_links ul{list-style:none;padding:0;margin:0;}
.header_links ul ul{float:right;margin-right:0px;}
.header_social{float:right;}
.header_social .social_icon{float:left;padding:0 2px;}
.header_social img{vertical-align:bottom;}
.header_text{float:right;font-size:10px;color:#eee;padding:2px 10px;}
.has_header_social.has_header_text #header_extras,.has_header_links.has_header_text #header_extras{}
.logo{position:absolute;top:10px;line-height:75px;letter-spacing:.2px;}
.logo a:hover{text-decoration:none;}

/* Intro & Breadcrumbs
-------------------------------------------------------------- */
#intro .intro_title{margin-bottom:0;padding:5px 0;}
#intro .teaser{margin-bottom:0;padding:5px 0;}
.teaser{font-size:18px;line-height:166%;letter-spacing:.5px;}
#breadcrumbs{color:#aaa;font-size:9px;letter-spacing:.5px;}
#breadcrumbs a{color:#bbb;}
#breadcrumbs .delimiter{padding:0 4px;}
#slider_module + #intro h3{margin-bottom:0;}
/* Image Banner Intros */
.has_image_banner #breadcrumbs{display:none;}
.has_image_banner #intro_inner,.has_image_banner.squeeze_page #intro_inner{position:relative;width:auto;padding:0;}
.has_image_banner .image_banner{width:100%!important;height:auto!important;vertical-align:bottom;}
.has_image_banner #intro .intro_title{background:rgba(0,0,0,.8);bottom:15%;padding:22px;position:absolute;color:#eee;}

/* Content
-------------------------------------------------------------- */
#main{padding-bottom:20px;min-height:250px;}
.right_sidebar #main{float:left;width:680px;}
.right_sidebar #sidebar{float:left;width:300px;}
.right_sidebar #main_inner{margin-right:10px;}
.left_sidebar #main{float:right;width:720px;}
.left_sidebar #sidebar{float:right;width:260px;}
.left_sidebar #main_inner{margin-left:10px;}

/* Footer
-------------------------------------------------------------- */
#outro{border-bottom:1px solid rgba(0,0,0,0.2);border-top:5px solid rgba(0,0,0,0.2);}
#outro_inner{padding:20px 0;}
#outro p{font-size:20px;line-height:30px;margin-bottom:0;padding:10px 0;}
#footer{border-top:1px solid rgba(255,255,255,0.07);font-size:11px;}
#footer_inner{padding-top:35px;padding-bottom:20px;}
#footer .widgettitle{font-size:16px;margin-bottom:10px;}
.no_outro #footer{border-bottom:1px solid rgba(0,0,0,0.3);border-top:1px solid rgba(0,0,0,0.99);margin-top:20px;}
#sub_footer{padding:10px 0;background:url(styles/_rgba/black40.png);border-top:1px solid;overflow:hidden;}
#sub_footer a:hover{text-decoration:none;}
.copyright_text{float:left;}
.footer_links{float:right;}
.footer_links li{float:left;padding-right:12px;}
.footer_links ul{list-style:none;padding:0;margin:0;}
.footer_links ul ul{float:right;margin-right:0px;}
.no_footer #footer{display:none;}

/* Squeeze Page
-------------------------------------------------------------- */
.squeeze_page #intro,
.squeeze_page #header_inner,
.squeeze_page #sub_footer_inner,
.squeeze_page #header_extras_inner,
.squeeze_page #content{width:800px;min-width:800px;}
.squeeze_page #content{margin:10px auto;}
.squeeze_page #intro_inner,.squeeze_page .page{padding:40px;}
.squeeze_page #intro{margin:10px auto;text-align:center;}

/*
===============================================================================================================
03. MENU
=============================================================================================================== */

#primary_menu{background:url(images/menu_shadow.png) repeat-x center bottom;margin-bottom:13px;padding-bottom:7px;}
.jqueryslidemenu{width:100%;margin:0 auto;position:relative;z-index:2000;line-height:20px;font-size:14px;}
.jqueryslidemenu ul{margin:0 auto;width:980px;padding:1px 0;list-style-type:none;}
.jqueryslidemenu li{margin:0;padding:0;float:left;list-style:none;position:relative;display:inline;}
.jqueryslidemenu a{display:block;padding:14px 15px;color:#666;}
.jqueryslidemenu a:hover{text-decoration:none;}
.jqueryslidemenu a small{display:block;font-size:11px;color:#c0c0c0;line-height:15px;}
.jqueryslidemenu ul ul{padding:0;margin:0;border:none;width:208px;position:absolute;visibility:hidden;background:#f7f7f7;}
.jqueryslidemenu ul ul li{display:list-item;float:none;padding:1px 0;}
.jqueryslidemenu ul ul a{width:178px;margin:0;padding:6px 15px;font-size:13px;color:#aaa;}
.jqueryslidemenu ul ul a:hover{background:#f4f4f4;}
.jqueryslidemenu ul ul ul{margin-top:0px;z-index:2001;}
.jqueryslidemenu>ul>li>a:hover,.jqueryslidemenu>ul>li:hover>a{background:#fafafa;}
.ie .jqueryslidemenu ul ul{border-left:1px solid transparent;border-right:1px solid transparent;}

/*
===============================================================================================================
04. POST LISTS & GRIDS
=============================================================================================================== */

.entry{margin-bottom:20px;}
.bypostauthor {background-color: #aaa;}
.sticky {background: #f0f0f0; padding: 10px;}

/* Specific Layouts
-------------------------------------------------------------- */
.two_column_blog .one_half,.blog_layout3 .one_half,.additional_posts_module .one_half{margin:0;width:50%;}
.three_column_blog .one_third,.blog_layout3 .one_third{margin:0;width:33.3%;}
.blog_layout3 .one_fourth{margin:0;width:25%;}
.blog_layout1,.blog_layout3{margin-right:-10px;}
.blog_layout2 .post_list_module{margin-bottom:10px;}
.right_sidebar .blog_layout3 .one_half .post_grid_image span img{width:274px;}
.left_sidebar .blog_layout3 .one_half .post_grid_image span img{width:294px;}
.full_width .blog_layout3 .one_half .post_grid_image span img{width:429px;}
.blog_layout3 .one_half .post_title{font-size:22px;}
.post_grid.blog_layout3{margin-bottom:0;}
.portfolio.post_grid_module{margin-bottom:40px;}
.portfolio .date{font-size:10px;color:#aaa;letter-spacing:1px;margin-bottom:5px;}

/* Meta
-------------------------------------------------------------- */
.post_meta{font-size:10px;letter-spacing:.5px;}
.post_meta a{color:#bbb;}
.post_meta em{display:none;}
.meta_date{background:url(images/date_meta.png) no-repeat 0 -1px;padding-left:20px;margin-right:15px;}
.meta_author{background:url(images/author_meta.png) no-repeat 0 1px;padding-left:17px;margin-right:15px;}
.meta_comments{background:url(images/comment_meta.png) no-repeat 0 0;padding-left:18px;}

/* Bottom Meta
-------------------------------------------------------------- */
.post_meta_bottom{border-top:3px double #ececec;padding-top:10px;font-size:10px;letter-spacing:.5px;}
.post_meta_bottom a{color:#bbb;}
.post_meta_bottom em{display:none;}
.meta_post_tag{background:url(images/tags_meta.png) no-repeat 0 1px;padding-left:18px;margin-right:15px;}
.meta_category{background:url(images/categories_meta.png) no-repeat 0 0;padding-left:18px;margin-right:15px;}

/*
===============================================================================================================
05. SINGULAR POSTS
=============================================================================================================== */

/* Single Post Module
-------------------------------------------------------------- */
.single_post_image{margin-bottom:20px;}
.post_title{margin-bottom:10px;}
.post_title a{color:#444;}

/* Post Nav Module
-------------------------------------------------------------- */
.post_nav_module{margin-bottom:30px;overflow:hidden;}
.previous_post{float:left;}
.next_post{text-align:right;}

/* Share This Module
-------------------------------------------------------------- */
.share_this_title{text-indent:-99999px;background:url(images/share_title.png) no-repeat 0 -1px #333;height:100%;left:0;position:absolute;top:0;width:35px;border-right:3px solid #fff!important;}
.share_this_module{position:relative;padding:15px 20px;}
.share_this_content{padding-left:45px;}
.share_this_content a{background:url(images/icon_background.png) no-repeat 0 0;display:inline-block;padding:5px;margin-right:15px;}
.share_this_content a:hover{opacity:.7;}
.post_sociable{padding:0!important;margin:0!important;vertical-align:bottom;}

/* About Author Module
-------------------------------------------------------------- */
.about_author_title{text-indent:-99999px;background:url(images/about_author_title.png) no-repeat 0 0 #333;height:100%;left:0;position:absolute;top:0;width:35px;border-right:3px solid #fff!important;}
.about_author_module{position:relative;}
.about_author_content{padding-left:45px;}
.author_bio{overflow:hidden;margin-bottom:0;}
.author_name{font-size:14px;display:block;margin-bottom:10px;font-weight:normal;color:#666;}
.about_author_module .avatar{margin-right:30px;}
.about_author_module .fancy_link{display:block;margin:5px 0;}

/* Blog Tabs
-------------------------------------------------------------- */
.blog_tabs{list-style-type:none;clear:left;height:60px;margin:0;padding:0;}
.blog_tabs li{float:left;}
.blog_tabs a{float:left;line-height:30px;font-family:arial;font-size:13px;font-weight:bold;letter-spacing:0.5px;padding:4px 16px;text-transform:uppercase;;display:block;text-decoration:none;position:relative;border:3px solid transparent;}
.blog_tabs a:hover{color:#888;text-decoration:none;}
.blog_tabs a.current{color:#eee;cursor:default;background-image:url(images/button_gradient.png);border:3px solid #fff !important;}
.blog_tabs_content{padding:20px 0;overflow:visible;}
.blog_tabs_container{padding-top:10px;}
.blog_tabs_content .post_title{font-size:12px;line-height:20px;}

/* Additional Posts Module
-------------------------------------------------------------- */
.additional_posts_module .post_grid_title{font-size:13px;line-height:20px;}
.additional_posts_module{margin-right:-10px;}
.additional_posts_module .blog_tabs_container{margin-right:10px;}
.additional_posts_module .popular_posts_module,.additional_posts_module .related_posts_module{margin-right:10px;}
.additional_posts{margin-right:10px;}
.additional_posts_module .post_grid_image,.additional_posts_module .post_grid{margin-bottom:5px;}

/* Threaded Comments
-------------------------------------------------------------- */
.blog_tabs a.current,#comments-title{background:url(images/comment_title.png) repeat-x scroll center center transparent;border:3px solid #fff !important;clear:both;color:#fff;display:inline-block;font-family:arial;font-size:13px;font-weight:bold;letter-spacing:0.5px;padding:4px 16px;text-transform:uppercase;}
#comments{margin-top:10px;margin-right:-5px;}
#comments .avatar{background:url(images/comment_avatar_bg.png) no-repeat left top;float:left;padding:4px 28px 8px 5px;position:relative;z-index:10;border:none;}
.commentlist cite{font-style:normal;padding-right:14px;font-size:14px;margin-bottom:10px;display:inline-block;}
.commentlist{margin:0;padding:0;}
.commentlist li{margin-left:0;list-style:none;overflow:hidden;clear:both;}
.commentlist li ul li{margin-left:20px;}
.comment-edit-link{font-size:10px;letter-spacing:.8px;text-transform:lowercase;}
.comment-reply-link{background:url(images/button_gradient.png) repeat-x left bottom;border:2px solid #fff !important;bottom:-3px;color:#eee;font-size:9px;height:20px;line-height:20px;position:absolute;right:-3px;text-align:center;text-transform:uppercase;width:58px;letter-spacing:1px;}
.comment-reply-link:hover{text-decoration:none!important;color:#fff;text-shadow:0 0 10px rgba(0,0,0,.6);}
#comments .children{padding:0;}
.commentlist.trackbacks_pingbacks{margin-right:5px;}
.comment-text{color:#888;left:-5px;margin-top:1px;overflow:hidden;position:relative;z-index:0;}
.comment-text p{margin-bottom:5px;padding-top:5px;}
.comment-text li{border:none!important;padding:2px;margin:0;}
.comment-text ol li{list-style:decimal;overflow:visible;}
#comments .date,.moderation{line-height:9px;text-transform:uppercase;background:url(styles/_rgba/black03.png); background:rgba(0,0,0,0.03);border:1px solid rgba(0,0,0,0.02);color:#bbb;display:inline;font-size:9px;letter-spacing:1px;padding:3px 5px !important;margin:0;}

/* Reply Form
-------------------------------------------------------------- */
#comments+#respond{margin-top:-20px;}
#commentform{padding-top:20px;}
#commentform #email,#commentform #author,#commentform #url{width:250px;}
#cancel-comment-reply-link{color:#ccc;display:block;font-size:9px;letter-spacing:2px;text-transform:uppercase;}
#cancel-comment-reply-link:hover{text-decoration:none!important;background:url(styles/_rgba/black01.png);background:rgba(0,0,0,.01);}

/*
===============================================================================================================
06. WIDGETS & SHORTCODES
=============================================================================================================== */

.widgettitle{margin-bottom:10px;}
.widget ul{margin:0;padding:0;list-style:none;}
#s{width:130px;}
/* Footer */
#footer .widget{margin-bottom:20px;}
#footer .avatar,
#footer .mysite_flickr_widget img,
#footer .post_grid_image img,
#footer .post_list_image img,
#footer .framed{background:url(styles/_rgba/white10.png);padding:3px;}

/* Categories,Archives,Etc. 
-------------------------------------------------------------- */
.activation_link_list li,.widget_archive li,.widget_categories li,.widget_links li,.widget_nav_menu li,.widget_pages li,.mysite_subnav_widget li,.widget_recent_entries li{padding-left:14px;background:url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat -505px -118px;}
#sidebar .widget_archive ul,#sidebar .widget_categories ul{margin-left:-10px;}
#sidebar .widget_archive li,#sidebar .widget_categories li{float:left;width:105px;margin-left:10px;}

/* Twitter
-------------------------------------------------------------- */
#intro .tweet{background:url(images/twitter.png) no-repeat 0 4px!important; padding-left:35px;display:block;}
#intro .tweet:hover,.mysite_twitter_widget a:hover{text-decoration:none;}

/* Flickr
-------------------------------------------------------------- */
.flickr_wrap{margin-left:-3px;padding-top:5px;}
.flickr_badge_image img{padding:3px;margin:3px;}
#footer .one_half .flickr_badge_image img{width:68px;height:68px;}
#footer .one_third .flickr_badge_image img{width:67px;height:67px;}
#footer .one_fourth .flickr_badge_image img{width:65px;height:65px;}
.left_sidebar #sidebar .flickr_badge_image img{width:60px;height:60px;}

/* Navi
-------------------------------------------------------------- */
.wp-pagenavi a,.wp-pagenavi .current,.wp-pagenavi .extend,.paged-navigation .page-numbers{background:none repeat scroll 0 0 #F9F9F9;border:2px solid #fff;}
.paged-navigation .next,.paged-navigation .prev,.paged-navigation .next:hover,.paged-navigation .prev:hover{border:none;background:none;}

/* WP Calendar
-------------------------------------------------------------- */
#wp-calendar{color:#888;background:url(styles/_rgba/black01.png);background:rgba(0,0,0,.01);}
#today{background:url(styles/_rgba/black03.png);background:rgba(0,0,0,.03);}
#wp-calendar caption{background:#888;color:#fff;}
#wp-calendar{border:2px solid #fff;}

/* jCarousel
-------------------------------------------------------------- */
.mysite_jcarousel_blog .post_grid_image img,.mysite_jcarousel_blog .video_frame,
.mysite_jcarousel_portfolio .post_grid_image img,.mysite_jcarousel_portfolio .video_frame{margin:1px;padding:3px;}
.mysite_jcarousel_text{width:22.75%!important;margin-right:3%!important;}
.mysite_jcarousel_text+.blog_clip,.mysite_jcarousel_text+.portfolio_clip{width:74.25%!important;}

/* Misc
-------------------------------------------------------------- */
.featured_tabs_content{padding-left:25px;}

/*
===============================================================================================================
07. SLIDERS
=============================================================================================================== */

#slider_module{position:relative;clear:both;}
#slider_module_inner{padding:0;}
/* Fading */
#mysite_fading_slider{margin:0 auto;overflow:hidden;position:relative;}
#fading_slides{cursor:pointer;position:relative;height:420px;width:972px;}
.single_fading_slide{width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
/* Scrolling */
#mysite_scrolling_slider{overflow:hidden;height:420px;width:972px;position:relative;}
#scrolling_slides{width:9999em;position:absolute;height:100%;}
.single_scrolling_slide{float:left;position:relative;width:972px;height:100%;overflow:hidden;}
/* Nivo */
#mysite_nivo_slider{margin:0;width:972px;}
.nivo_slider #slider_module_inner{overflow:hidden;padding:0;}
#mysite_nivo_slider .nivo-controlNav{position:absolute;text-align:center;top:400px;width:100%;padding:0;}
#mysite_nivo_slider .nivo-controlNav a{float:none;display:inline-block;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat;}
#mysite_nivo_slider .nivo-controlNav a.active {background-position: 0 -34px;}

/* Slider Nav
-------------------------------------------------------------- */
.slider_nav{z-index:1001;}
/* Nav Thumbs */
.slider_nav_thumb #mysite_scrolling_slider,
.slider_nav_thumb #mysite_fading_slider{padding-bottom:60px;}
.slider_nav_thumb .slider_nav{position:absolute;top:430px;left:20px;}
.slider_nav_thumb .slider_nav a{margin-right:10px;line-height:0px;font-size:1px;display:block;float:left;}
.slider_nav_thumb .slider_nav a:hover img{opacity:.7;}
.slider_nav_thumb .slider_nav img{border:2px solid #fff;}
.slider_nav_thumb .slider_nav .current img{border-color:#ccc;opacity:.7;}
/* Nav Dots */
.slider_nav_dots .slider_nav{bottom:0;height:25px;margin:0 auto;position:absolute;text-align:center;z-index:100;width:100%;}
.slider_nav_dots .slider_nav a{width:22px;height:20px;margin:0px;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat transparent;display:inline-block;font-size:1px;}
.slider_nav_dots .slider_nav a:hover{opacity:.7;}
.slider_nav_dots .slider_nav .current{background-position:0 -34px;}

/* Stageing Effects
-------------------------------------------------------------- */
.slide_title{font-size:38px;color:#888;line-height:110%;}
.slide_content{z-index:4;color:#aaa;font-size:14px;height:344px;left:40px;line-height:25px;overflow:hidden;position:absolute;top:40px;width:340px;}
.slide_overlay{z-index:3;position:absolute;}
.positioning{z-index:1;float:right;margin-top:20px;margin-right:20px;}
/* Full/Raw */
#slider_module_inner .raw_html .slide_content{height:100%;width:100%;top:0;left:0;}
#slider_module_inner .full_slide .positioning{margin:0;}
/* Floating */
#slider_module_inner .floating_slide{background:url(images/sliders/floating_shadow.png) top center no-repeat;}
#slider_module_inner .floating_slide .slide_image{background:#fff;padding:4px;}
/* Staged */
#slider_module_inner .staged_slide .slide_image{background:#fff;padding:4px;}
/* Overlay */
#slider_module_inner .overlay_slide{background:url(images/sliders/floating_shadow.png) top center no-repeat;}
#slider_module_inner .overlay_slide .slide_content{color:#fff;height:334px;left:50px;top:50px;width:320px;}
#slider_module_inner .overlay_slide .slide_title{color:#fff;}
#slider_module_inner .overlay_slide .slide_overlay{background:url(styles/_rgba/black80.png) repeat 0 0;height:360px;left:23px;top:24px;width:370px;}
#slider_module_inner .overlay_slide .slide_image{background:#fff;padding:4px;}
/* Partial Staged */
#slider_module_inner .partial_staged_slide{background:url(images/sliders/partial_stagedR.png) top center no-repeat;}
#slider_module_inner .partial_staged_slide .slide_content{height:380px;top:30px;left:20px;width:358px;}
/* Partial Staged Left */
#slider_module_inner .partial_staged_slideL{background:url(images/sliders/partial_stagedL.png) top center no-repeat;}
#slider_module_inner .partial_staged_slideL .positioning{float:left;margin-left:20px;}
#slider_module_inner .partial_staged_slideL .slide_content{left:auto;right:20px;height:380px;top:30px;width:358px;}
/* Partial Gradient */
#slider_module_inner .partial_gradient_slide{background:url(images/sliders/floating_shadow.png) top center no-repeat;}
#slider_module_inner .partial_gradient_slide .slide_image{background:#fff;padding:4px;}
#slider_module_inner .partial_gradient_slide .slide_content{color:#fff;height:334px;left:50px;top:50px;width:320px;}
#slider_module_inner .partial_gradient_slide .slide_overlay{height:360px;left:23px;top:24px;width:370px;}
#slider_module_inner .partial_gradient_slide .slide_title{color:#fff;}

/* 
===============================================================================================================
08. PROGRESSIVE ENHANCEMENTS
=============================================================================================================== */

/* Box Shadow
-------------------------------------------------------------- */
#footer .avatar,
.wp-pagenavi a, .wp-pagenavi .current, .wp-pagenavi .extend, .paged-navigation .page-numbers,
.fancy_image img,#body_inner .galleria-container,.wp-caption,#content .gallery img,.single_post_image img,.post_grid_image img,.post_list_image img,
.framed,.video_frame,.mysite_flickr_widget img,.about_author_module .avatar,
.overlay_slide .slide_image,.partial_gradient_slide .slide_image,.floating_slide .slide_image,.staged_slide .slide_image,
.fancy_table,.widget_calendar table,.fancy_titled_box,.fancy_box,.color_scheme_box_content,.framed_tab_set .tab_content,.framed,.wp-caption,#flickr a img,dl.gallery-item img,
.framed,.video_frame,.mysite_flickr_widget img,.about_author_module .avatar{box-shadow: 0 1px 2px rgba(0,0,0,.18);}
#content .textfield,#content .password,#content .textarea,#content #s,#content #comment {box-shadow: 0 1px 0 #fff;}
.slider_nav_thumb .slider_nav img,
#submit,#searchsubmit,.commentlist_title,.fancy_button,.button_link,.blog_tabs a.current,#comments-title {box-shadow: 0 1px 2px rgba(0,0,0,0.1);}
.slider_nav_thumb .slider_nav .current img{box-shadow: 0 1px 2px rgba(0,0,0,0.5) inset;}
#wp-calendar,.post_more_link {box-shadow: 0 1px 1px rgba(0,0,0,0.1);}
.comment-reply-link{box-shadow:-1px -1px 0 rgba(0,0,0,.06);}
#header{box-shadow:0 1px 0 rgba(255,255,255, 0.15) inset;	}
.about_author_title,.share_this_title{box-shadow:1px 0 0 rgba(0, 0, 0, 0.08);}
.jqueryslidemenu ul ul {box-shadow:0 4px 3px rgba(0,0,0,.2);}
.jqueryslidemenu ul li ul li a:hover{background:url(styles/_rgba/black02.png);background:rgba(0,0,0,.02);box-shadow:0 1px 0 rgba(255,255,255,.5),0 1px 0 rgba(0,0,0,.02) inset;}
.paged-navigation .next, .paged-navigation .prev,
.widget .post_grid_module, .widget .post_list_module, 
.additional_posts_module .post_list_module, .additional_posts_module .post_grid_module, 
.page .post_list_module, .page .post_grid_module{box-shadow:none!important;}

/* Gradients
-------------------------------------------------------------- */
.partial_gradient_slide .slide_overlay{background-image:radial-gradient(at top right,rgba(0,0,0,.1),rgba(0,0,0,.4));}

/* Transitions
-------------------------------------------------------------- */
.jqueryslidemenu ul ul a{opacity:1;transition: all .5s ease;}
.blog_tabs a,.share_this_content a,.header_social .social_icon,.header_links a,.slider_nav_thumb .slider_nav a,.slider_nav_thumb .slider_nav img,.comment-reply-link{transition: all .3s ease-in-out;}
.header_social .social_icon:hover{opacity:.4;}

/*
===============================================================================================================
09. RESPONSIVENESS & MOBILE
=============================================================================================================== */

/* Responsive Slider
-------------------------------------------------------------- */
.mysite_responsive .flexslider{border:none;padding-bottom:25px;}
.mysite_responsive .flexslider_content{padding:30px;}
.slider_content_left .flexslider,
.slider_content_right .flexslider{width:552px;border:4px solid #fff;box-shadow:0 0 5px rgba(0,0,0,0.1);margin:30px;}
.mysite_responsive .flex-control-nav{bottom:0;}
.mysite_responsive .flex-control-nav li{margin:0;}
.mysite_responsive .flex-control-nav li a{width:20px;height:20px;background:url(images/sliders/nav_dots_sprite.png) 0 0 no-repeat transparent;}
.mysite_responsive .flex-control-nav li a:hover{background-position:0 0;opacity:.7;}
.mysite_responsive .flex-control-nav li a.flex-active{background-position:0 -34px;}

/* Responsive Menu
-------------------------------------------------------------- */
.mysite_responsive #responsive_menu{background:url(images/menu_shadow.png) repeat-x center bottom;margin-bottom:10px;padding-bottom:5px;}
.mysite_responsive #responsive_menu .select,
.mysite_responsive #responsive_menu .mysite_message{background:url(images/select_menu.png) no-repeat center right #fafafa;color:#aaa;font-size:14px;text-indent:20px;height:40px;line-height:40px;}
.mysite_responsive #responsive_menu select.styled{height:40px;}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 998px){
body.mysite_responsive,.mysite_responsive #body_inner{width:100%!important;min-width:100%!important;}
.mysite_responsive #header_inner,
.mysite_responsive #footer_inner,
.mysite_responsive #sub_footer_inner,
.mysite_responsive #outro_inner,
.mysite_responsive #slider_module,
.mysite_responsive #intro,
.mysite_responsive #content,
.mysite_responsive #header_extras_inner,
.mysite_responsive .jqueryslidemenu>ul{width:90%;position:relative;}
.mysite_responsive .jqueryslidemenu a small{display:none;}
.squeeze_page #header_inner,
.squeeze_page #sub_footer_inner,
.squeeze_page #header_extras_inner,
.squeeze_page #content{max-width:800px;min-width:0;}
}
@media screen and (max-width:768px){
.mysite_responsive .logo{position:relative;}
.mysite_responsive #header{height:auto;}
}
@media screen and (max-width: 480px){
.mysite_responsive.has_image_banner #intro .intro_title{bottom:0;}
.mysite_responsive .call_to_action.alignright{margin-bottom:10px;}
.slider_content_left .flexslider,.slider_content_right .flexslider{border:0;margin:0;}
}

/*
===============================================================================================================
10. GUTENBERG EDITOR (see 02. Structure )
=============================================================================================================== */
#header_extras_inner .alignfull,
#slider_module_inner .alignfull,
#breadcrumbs_inner .alignfull,
#sub_footer_inner .alignfull,
#content_inner .alignfull,
#header_inner .alignfull,
#footer_inner .alignfull,
#intro_inner .alignfull,
#outro_inner .alignfull{
	margin-left: -20px;
	width: calc(100% + 40px);
	max-width: calc(100% + 40px);
}
#header_extras_inner .alignwide,
#slider_module_inner .alignwide,
#breadcrumbs_inner .alignwide,
#sub_footer_inner .alignwide,
#content_inner .alignwide,
#header_inner .alignwide,
#footer_inner .alignwide,
#intro_inner .alignwide,
#outro_inner .alignwide{
	margin-left: -10px;
	width: calc(100% + 20px);
	max-width: calc(100% + 20px);
}