/*
Theme Name: Construct
Theme URI: https://construct.backstopthemes.com
Description: A simple and enduring responsive WordPress Theme
Author: BackStop Themes
Author URI: https://backstopthemes.com
Version: 2.8.8
Text Domain: backstop-themes
License:     GPL2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, footer-widgets, flexible-header, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
*/

/*  TOC 
01. GENERAL TYPOGRAPHY 
02. STRUCTURE
03. MENU
04. POST LISTS & GRIDS
05. SINGULAR POSTS
06. WIDGETS & SHORTCODES
07. SLIDERS
08. PROGRESSIVE ENHANCEMENTS
09. RESPONSIVENESS & MOBILE
10. GUTENBERG EDITOR
*/

/*
===============================================================================================================
01. GENERAL TYPOGRAPHY
=============================================================================================================== */

/* Global Reset
-------------------------------------------------------------- */
html,body,div,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,p,ul,ol,li{vertical-align:baseline;font-size:100%;padding:0;margin:0;}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin-bottom:20px;}
input,textarea{font-family:inherit;padding:4px;}
img,fieldset{border:0;}
body{letter-spacing:0;line-height:20px;font-size:12px;}
a,a:hover,a:active,a:focus{text-decoration:none;outline:0 none;outline-style:none;}
ol{list-style:decimal outside;}
ul{list-style:disc outside;}
ul,ol{padding-left:25px;}
li ol,li ul{margin-bottom:0;}
#searchsubmit::-moz-focus-inner,#submit::-moz-focus-inner{border:0;padding:0;}

/* Headers
-------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6{font-weight:normal;}
h1{line-height:100%;letter-spacing:-.5px;}
h2{line-height:130%;letter-spacing:-.5px;}
h3{line-height:150%;}
h4{line-height:150%;}
h5{letter-spacing:2px;text-transform:uppercase;padding-bottom:5px;margin-bottom:15px;}
h6{letter-spacing:3px;text-transform:uppercase;}
.teaser{line-height:175%;}
#content .teaser{letter-spacing:-0.25px;}

/* Forms & Buttons 
-------------------------------------------------------------- */
.mysite_form .select{background:url(images/select.png) right top no-repeat #fff;}
.button_link, .fancy_button, #searchsubmit, #submit{text-transform:none;}
.post-edit-link,.post_more_link{padding:3px 10px;}
.comment-reply-link,.comment-edit-link{padding:2px 10px;}

/* Fancy Links
-------------------------------------------------------------- */
.post_more_link,.fancy_link,.icon_teaser_link,.partial_gradient_slide .button_link{font-size:11px;letter-spacing:.5px;}
.post-edit-link:hover,.post_more_link:hover,.icon_teaser_link:hover{text-decoration:none;}
.fancy_link:after,.icon_teaser_link:after,.partial_gradient_slide .button_link:after{content:"\2192";font-size:12px;font-weight:normal;padding-left:4px;text-decoration:none!important;}
.fancy_link:hover:after{text-decoration:none!important;}
.partial_gradient_slide .button_link{background:none!important;padding:0!important;border:none!important;}

/* Images & Galleria
-------------------------------------------------------------- */
.gallery .gallery-caption { color: #aaa; font-size: 10px; margin: 0 0 10px;}
.wp-caption,#content .gallery img,.framed,.video_frame,.mysite_flickr_widget img,.avatar,.about_author_module .avatar{border:1px solid rgba(100,100,100,.1);}
/* hovers */
.hover_overlay{display:none;background:url(styles/_rgba/black40.png);height:100%;left:0;position:absolute;top:0;width:100%;}
.hover_icon{background:url(images/assets/zoom.png) center center no-repeat;height:100%;width:100%;display:block;}
/* galleria */
#body_inner .galleria-container{margin:0;padding:0;background-color:transparent;}
#body_inner .galleria-thumbnails .galleria-image{background:transparent;border:0;}
#body_inner .galleria-stage{top:0!important;left:0!important;right:0!important;bottom:60px!important;}
#body_inner .galleria-thumbnails-container{bottom:0!important;left:0!important;right:0!important;height:50px!important;}

/*
===============================================================================================================
02. STRUCTURE
=============================================================================================================== */

body{position:relative;}
#body_inner{position:relative;width:980px;margin:0 auto;}
.squeeze_page #body_inner{width:800px;}
#header_extras_inner,
#slider_module_inner,
#breadcrumbs_inner,
#sub_footer_inner,
#content_inner,
#header_inner,
#footer_inner,
#intro_inner,
#outro_inner{position:relative;margin:0 40px;}

/* Custom Backgrounds
-------------------------------------------------------------- */
body.has_custombg>.multibg>.multibg,body.has_custombg>.multibg{display:none;}
#fullbg{top:0;}

/* Header
-------------------------------------------------------------- */
#header_extras_inner:after,#header_inner:after{content:"";display:block;clear:both;}
#header_extras{margin:5px 0;}
#header_inner{position:relative;}
.header_links{float:left;}
.header_links_menu{list-style:none;margin:0;padding:0;}
.header_links li{float:left;padding-right:10px;}
.header_links li ul{float:right;margin-right:0px;}
.header_social{float:right;padding-left:7px;}
.header_social .social_icon{float:left;padding-left:7px;}
.header_social .social_icon img{vertical-align:bottom;}
.header_text{float:right;}
.logo{float:left;line-height:100px;}
.logo a:hover{text-decoration:none;}
.logo img{vertical-align:bottom;}

/* Intro & Breadcrumbs
-------------------------------------------------------------- */
#intro_inner{overflow:hidden;padding:30px 0;}
#intro .intro_title,#intro .teaser{margin:10px 0;}
#intro h3,#intro .call_to_action{margin-bottom:0px;}
#breadcrumbs{margin:10px 0;letter-spacing:0.75px;}
#breadcrumbs .delimiter{padding:0 4px;}
/* Image Banner Intros */
.has_image_banner #intro_inner{position:relative;padding:0;}
.has_image_banner #intro_inner .intro_title{position:absolute;left:0;bottom:70px;clear:both;display:inline-block;margin:0;padding:10px 40px 10px 30px;}
.has_image_banner .image_banner{width:100%!important;height:auto!important;vertical-align:bottom;}

/* Content
-------------------------------------------------------------- */
#content_inner{padding-top:40px;padding-bottom:40px;}
#main{min-height:250px;}
#main_inner{position:relative;}
.right_sidebar #main{float:left;width:65.33%;margin-right:4%;}
.right_sidebar #sidebar{float:left;width:30.66%;}
.left_sidebar #main{float:right;width:74%;margin-left:4%;}
.left_sidebar #sidebar{float:right;width:22%;}

/* Footer
-------------------------------------------------------------- */
#outro_inner{padding:30px 0;}
#outro p{margin-bottom:0;padding:10px 0;letter-spacing:.25px;line-height:25px;}
#footer_inner{padding-top:35px;padding-bottom:35px;}
#footer .widgettitle{margin-bottom:10px;}
#sub_footer a:hover{text-decoration:none;}
#sub_footer_inner{overflow:hidden;padding:10px 0;}
.copyright_text{float:left;}
.footer_links{float:right;}
.footer_links li{float:left;padding-right:12px;}
.footer_links ul{list-style:none;padding:0;margin:0;}
.footer_links ul ul{float:right;margin-right:0px;}
.no_footer #footer{display:none;}
.no_footer #sub_footer{position:relative;}

/*
===============================================================================================================
03. MENU
=============================================================================================================== */

#primary_menu{float:right;margin:30px 0;}
.jqueryslidemenu{position:relative;z-index:2000;}
.jqueryslidemenu a{display:block;padding:5px 10px;}
.jqueryslidemenu a:hover{text-decoration:none;}
.jqueryslidemenu ul{margin:0;padding:0;list-style-type:none;}
.jqueryslidemenu li{padding:5px;float:left;list-style:none;position:relative;display:inline;float:left;margin:0;list-style:none;}
.jqueryslidemenu li small{display:none;}
.jqueryslidemenu ul ul{position:absolute;display:block;visibility:hidden;width:180px;top:30px;}
.jqueryslidemenu ul ul ul{margin-top:-1px;top:0px;z-index:2001;}
.jqueryslidemenu li li{display:list-item;float:none;padding:0;}
.jqueryslidemenu li li a{width:154px;margin:0;padding:3px 14px;height:100%;}

/*
===============================================================================================================
04. POST LISTS & GRIDS
=============================================================================================================== */

/* Specific Layouts
-------------------------------------------------------------- */
.post_grid_module,.post_list_module{margin-bottom:60px;}
.three_column_blog .post_title,.three_column_portfolio .post_title{margin-bottom:5px;}
.four_column_blog .post_title,.four_column_portfolio .post_title{font-size:14px;margin-bottom:5px;}
.portfolio .post_title{margin-bottom:10px;}
.bypostauthor {background-color: #aaa;}
.sticky {background: #f0f0f0; padding: 10px;}

/* Meta
-------------------------------------------------------------- */
.post_meta em,.post_meta_bottom em{text-transform:lowercase;letter-spacing:.5px;}
.post_meta span{margin-right:8px;}
.post_meta_bottom span{display:block;}
.meta_date:before,.rss-date:before,#comments .date:before,.portfolio .date:before{content:"on ";font-style:italic;letter-spacing:0.5px;text-transform:lowercase;padding-right:2px;}
.edit_link,.post_meta_bottom{margin:20px 0;}

/*
===============================================================================================================
05. SINGULAR POSTS
=============================================================================================================== */

/* Single Post Module
-------------------------------------------------------------- */
.single_post_module{margin-bottom:40px;}
.single_post_image{margin-bottom:30px;display:block;position:relative;}
.single_post_content{position:relative;}
.single_post_module .post_title{padding-right:40px;margin-bottom:20px;}
.single_post_module .post_meta{margin-bottom:20px;}

/* Post Nav Module
-------------------------------------------------------------- */
.post_nav_module{margin-bottom:40px;margin-top:20px;overflow:hidden;clear:both;}
.previous_post{float:left;}
.next_post{text-align:right;}
.post_nav_module a{font-size:10px;letter-spacing:1px;text-decoration:none;text-transform:uppercase;}
.post_nav_module a:hover{text-decoration:none;}
.previous_post a:before{content:"\2190";font-size:12px;font-weight:normal;padding-right:4px;}
.next_post a:after{content:"\2192";font-size:12px;font-weight:normal;padding-left:4px;}

/* Share This Module
-------------------------------------------------------------- */
.share_this_module{margin-bottom:40px;}
.share_this_title{display:none;}
.post_sociable{margin-right:10px;}

/* About Author Module
-------------------------------------------------------------- */
.about_author_module{margin-bottom:60px;background:#fbfbfb;border:1px solid #f5f5f5;border-top:4px solid #f5f5f5;padding:25px 30px;}
.about_author_title{display:block;margin-bottom:5px;color:#444;font-size:14px;}
.author_bio{overflow:hidden;margin-bottom:0;}
.about_author_module .avatar{float:left;margin-right:30px;}
.about_author_module .fancy_link{display:block;margin-top:5px;}

/* Blog Tabs
-------------------------------------------------------------- */
.blog_tabs{height:36px;padding:0;margin:0;list-style-type:none;}
.blog_tabs li{float:left;}
.blog_tabs a{height:32px;margin-right:40px;display:block;text-decoration:none;position:relative;border-bottom:4px solid transparent;}
.blog_tabs a:hover{text-decoration:none;}
.blog_tabs_content{display:none;padding-top:30px;}

/* Additional Posts Module
-------------------------------------------------------------- */
.additional_posts_module{margin-bottom:60px;}
.additional_posts_module .post_grid_module,
.additional_posts_module .four_column_blog{margin-bottom:0;}
.additional_posts_module .post_grid_image {margin-bottom: 5px;}
.additional_posts_module .post_title{font-size:11px;line-height:15px;}
.additional_posts_module .post_title a{color:#aaa;}

/* Threaded Comments
-------------------------------------------------------------- */
.commentlist{margin:0;padding:0;margin-bottom:40px;}
.commentlist li{padding-left:0;list-style:none;overflow:hidden;clear:both;margin-top:40px;}
.commentlist>li:first-child{margin-top:0;}
.commentlist .children{padding-left:30px;border-left:1px solid rgba(100,100,100,.1);margin-left:60px;}
.commentlist .avatar{float:left;}
.commentlist cite{display:block;}
.comment-text{left:0;min-height:80px;overflow:hidden;padding-left:30px;position:relative;}
.comment-text p{margin-bottom:10px;}
.comment-text li{border:none!important;padding:2px;margin:0;}
.comment-text ol li{list-style:decimal;overflow:visible;}
.moderation{font-style:italic;font-size:10px;font-weight:bold;}
.commentmetadata{position:absolute;top:20px;right:0;}
.commentmetadata a:hover{text-decoration:none;}

/* Reply Form
-------------------------------------------------------------- */
#commentform #email,#commentform #author,#commentform #url{width:250px;}
#respond{padding-bottom:20px;margin-top:30px;clear:both;}
#commentform{padding-top:20px;}
#cancel-comment-reply-link{font-size:9px;padding-left:2px;text-transform:uppercase;line-height:15px;text-transform:none;letter-spacing:.2px;}
#cancel-comment-reply-link:hover{text-decoration:none;background:url(styles/_rgba/black01.png);background:rgba(0,0,0,.01);}

/* Fancy Titles
-------------------------------------------------------------- */
.additional_posts_title,#comments-title{margin-bottom:40px;}
.additional_posts_title,#comments-title,#reply-title{position:relative;padding-bottom:15px;line-height:20px;}
.additional_posts_title:after,#comments-title:after,#reply-title:after{bottom:0;content:"";border-bottom:4px solid;left:0;position:absolute;width:92px;}

/*
===============================================================================================================
06. WIDGETS & SHORTCODE OVERRIDES
=============================================================================================================== */

.widget{clear:both;margin-bottom:40px;position:relative;z-index:2;}
.widget a:hover{text-decoration:none;}
.widget ul{margin:0;padding:0;clear:both;list-style:none;overflow:hidden;}
.widget li{padding-top:2px;padding-bottom:2px;}
#outro .widget,#intro .widget{margin:0;}
.meta_date em{display:none;}

/* Twitter 
-------------------------------------------------------------- */
#intro .tweet,#outro .mysite_twitter_widget li{background:url(images/shortcodes/sprites/custom_sprite_dddddd.png) no-repeat -538px -79px;display:block;padding-left:28px;}
#intro .tweet:hover,.mysite_twitter_widget a:hover{text-decoration:none;}

/* Feature Tour & Vertical Tabs
-------------------------------------------------------------- */
.tabs_vertical_frame,.featured_tabs_frame{width:22%;}
.featured_tabs_content{padding-left:40px;}
.tabs_vertical li.current span,.featured_tabs li.current_page_item span,
.tabs_vertical li:first-child,.featured_tabs li:first-child,
.tabs_vertical_frame .bg_bottom,.featured_tabs_frame .bg_bottom,
.tabs_vertical li,.featured_tabs li{background:none;}
.tabs_vertical li a,.featured_tabs li a{letter-spacing:0;line-height:15px;margin-bottom:5px;padding:7px 10px 8px;text-shadow:none;text-transform:none;}
.tabs_vertical li a:hover,.featured_tabs li a:hover,
.tabs_vertical li.current a,.featured_tabs li.current_page_item a{background-image:none!important;}
.tabs_vertical li.current span,.featured_tabs li.current_page_item span{border-bottom:15px solid transparent!important;border-left:14px solid;border-top:15px solid transparent!important;height:0;margin-right:-14px;margin-top:0;top:0;width:0;}

/* MISC
-------------------------------------------------------------- */
.fancy_header{font-size:11px;letter-spacing:1px;}
.fancy_header3,.fancy_header3 span{background:none;line-height:20px;padding:0;}
.fancy_header3 span{border-bottom:4px solid;padding-bottom:10px;display:inline-block;}
.fancy_header3{margin:20px 0;}
.tabs{background:none;padding:0;}
.tabs a{height:16px;}
.tabs a.current{background:none;border-bottom:4px solid;}
.tabs_button a.current{color:#fff;}
.pullquote{background:none;padding:0;border:0;}
.pullquote.alignleft,.pullquote.aligncenter{margin-left:0;}
.pullquote.alignright,.pullquote.aligncenter{margin-right:0;}
.pullquote2{border-left:4px solid #eee;}
.dropcap4,.pullquote4,.tabs_button a.current,
.colored_box,.titled_box_title{background-position:0 -1px;}
.divider{margin:30px 0 50px;}

/* Dark Skin Support
-------------------------------------------------------------- */
#wp-calendar th,#wp-calendar td,#wp-calendar tfoot{border:1px solid rgba(100,100,100,.1);}
.about_author_module,.minimal_table td,.titled_box_content,.fancy_table td,.fancy_table{border-color:rgba(100,100,100,.1);}
.about_author_module,#today,.fancy_table,.titled_box_content{background:url(styles/_rgba/black03.png);background:rgba(220, 220, 220, 0.1);}

/*
===============================================================================================================
07. SLIDERS
=============================================================================================================== */

#slider_module{position:relative;clear:both;}
/* Fading */
#mysite_fading_slider{overflow:hidden;position:relative;}
#fading_slides{cursor:pointer;position:relative;height:430px;}
.slider_nav_thumb #fading_slides{height:460px;}
.single_fading_slide{width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
/* Scrolling */
#mysite_scrolling_slider{overflow:hidden;position:relative;height:430px;width:900px;}
.slider_nav_thumb #mysite_scrolling_slider{height:460px;}
#scrolling_slides{width:9999em;position:absolute;height:100%;}
.single_scrolling_slide{float:left;position:relative;width:900px;height:100%;overflow:hidden;}
/* Nivo */
.nivo_slider #slider_module_inner{height:430px;overflow:hidden;}
#mysite_nivo_slider .nivo-controlNav{position:absolute;text-align:center;top:410px;width:100%;padding:0;}
#mysite_nivo_slider .nivo-controlNav a{float:none;display:inline-block;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat;margin-right:0;}
#mysite_nivo_slider .nivo-controlNav a.active{background-position:0 -34px;}

/* Slider Nav
-------------------------------------------------------------- */
.slider_nav{z-index:1001;}
.slider_nav a{margin-right:10px;margin-top:10px;margin-bottom:10px;display:inline-block;line-height:0px;font-size:1px;}
/* Nav Thumbs */
.slider_nav_thumb .slider_nav{position:absolute;bottom:0;overflow:hidden;}
.slider_nav_thumb .slider_nav a{opacity:.7;}
.slider_nav_thumb .slider_nav a.current,
.slider_nav_thumb .slider_nav a:hover{opacity:1;}
/* Nav Dots*/
.slider_nav_dots .slider_nav{bottom:0;height:25px;margin:0 auto;position:absolute;text-align:center;z-index:100;width:100%;}
.slider_nav_dots .slider_nav a{width:20px;height:20px;margin:2px 0;background:url(images/sliders/nav_dots_sprite.png) 0px 0px no-repeat transparent;display:inline-block;font-size:1px;}
.slider_nav_dots .slider_nav a:hover{opacity:.7;}
.slider_nav_dots .slider_nav .current{background-position:0 -34px;}

/* Stageing Effects
-------------------------------------------------------------- */
.positioning{z-index:1;float:right;}
.slide_content{z-index:2;overflow:hidden;position:absolute;line-height:175%;}
.slide_overlay{z-index:3;position:absolute;}
/* Full/Raw */
.raw_html .slide_content{}
.full_slide .slide_content{padding:40px;}
/* Floating */
#slider_module_inner .floating_slide{background:url(images/sliders/floating.png) center -40px no-repeat;}
.floating_slide .positioning{margin-top:30px;}
.slider_nav_thumb .floating_slide .positioning{margin-top:20px;}
.floating_slide .slide_content{left:40px;position:absolute;top:70px;right:40px;}
/* Staged */
#slider_module_inner .staged_slide{background:url(images/sliders/floating.png) center -50px no-repeat;}
.staged_slide .positioning{margin-top:30px;}
.slider_nav_thumb .staged_slide .positioning{margin-top:20px;}
.staged_slide .slide_content{left:40px;position:absolute;top:70px;width:880px;}
/* Overlay */
.overlay_slide .slide_content{left:0;bottom:80px;max-width:74%;}
.slider_nav_thumb .overlay_slide .slide_content{bottom:110px;}
.overlay_slide .slide_title{clear:both;display:inline-block;margin:0;padding:10px 40px 10px 30px;}
.overlay_slide .slide_content p{margin:0;padding:15px 30px;}
.overlay_slide .slide_content p+p{padding:0 30px;}
.overlay_slide .button_link{bottom:1px;font-size:10px;letter-spacing:0.5px;line-height:10px;margin:0;padding:5px 7px;position:absolute;right:1px;}
.overlay_slide .button_link:before{content:"+";font-size:10px;}
.overlay_slide .button_link span{display:none;}
/* Partial Gradient */
#slider_module_inner .partial_gradient_slide .slide_content{height:340px;left:0;padding:30px;top:0;width:300px;}
/* Partial Staged */
#slider_module_inner .partial_staged_slide{background:url(images/sliders/partial_staged.png) center top no-repeat;}
.partial_staged_slide .positioning{margin-top:30px;}
.slider_nav_thumb .partial_staged_slide .positioning{margin-top:20px;}
.partial_staged_slide .slide_content{height:350px;left:0;top:40px;width:300px;}
/* Partial Staged L */
#slider_module_inner .partial_staged_slideL{background:url(images/sliders/partial_staged.png) center top no-repeat;}
.partial_staged_slideL .positioning{margin-top:30px;float:left;}
.slider_nav_thumb .partial_staged_slideL .positioning{margin-top:20px;}
.partial_staged_slideL .slide_content{left:600px;top:50px;width:300px;}
.partial_staged_slideL .slide_image,.partial_staged_slide .slide_image{vertical-align:bottom;}

/*
===============================================================================================================
08. PROGRESSIVE ENHANCEMENTS
=============================================================================================================== */

.textfield,.password,.textarea,#s,#comment,#body_inner,.jqueryslidemenu ul ul{background-clip:padding-box;}

/* Border Radius
-------------------------------------------------------------- */
.pullquote4,.dropcap4,.fancy_header span,.wp-pagenavi .current,.colored_box,.toggle_frame,
.tabs_vertical li a,.featured_tabs li a,.tabs_button a.current,.button_link,.fancy_button,#searchsubmit,#submit,
.comment-reply-link,.comment-edit-link,.post-edit-link,.post_more_link{border-radius:2px;}
.overlay_slide .button_link{border-radius:0;}
.tabs_framed a{border-radius:2px 2px 0 0;}

/* Gradients
-------------------------------------------------------------- */
.partial_gradient_slide .slide_content{background:linear-gradient(to bottom,rgba(0,0,0,.01),rgba(0,0,0,.2));}

/* Box Shadow
-------------------------------------------------------------- */
.tabs_vertical li a,.featured_tabs li a,.pullquote{box-shadow:none;}
.partial_staged_slideL .slide_image,.partial_staged_slide .slide_image{box-shadow:0 1px 3px rgba(0,0,0,.4);}
.partial_gradient_slide .slide_content{box-shadow:1px 0 2px rgba(0,0,0,.4);}

/* Transitions
-------------------------------------------------------------- */
.slider_nav_thumb .slider_nav a,
.comment-reply-link, .comment-edit-link, .post-edit-link,
.tabs_vertical li a, .featured_tabs li a,
.jqueryslidemenu ul ul a,.additional_posts_module .post_grid_content,.post_more_link,#footer a,#sidebar a{transition:all .3s ease;}
.comment-reply-link:hover,.comment-edit-link:hover,.post-edit-link:hover,.post_more_link:hover,.icon_teaser_link:hover{opacity:.7;}

/*
===============================================================================================================
09. RESPONSIVENESS & MOBILE
=============================================================================================================== */

/* Responsive Slider
-------------------------------------------------------------- */
.mysite_responsive .flexslider{border:none;}
.slider_content_left .flexslider,
.slider_content_right .flexslider{width:570px;margin-top:20px;margin-bottom:30px;}
.mysite_responsive #mysite_flexslider{margin-bottom:30px;}
.mysite_responsive .flex-control-nav {bottom:-27px;}
.mysite_responsive .flex-direction-nav li .flex-prev {left:-16px;}
.mysite_responsive .flex-direction-nav li .flex-next {right:-16px;}
.mysite_responsive .flex-control-nav li{margin:0;}
.mysite_responsive .flex-control-nav li a{width:20px;height:20px;background:url(images/sliders/nav_dots_sprite.png) 0 0 no-repeat transparent;}
.mysite_responsive .flex-control-nav li a:hover{background-position:0 0;opacity:.7;}
.mysite_responsive .flex-control-nav li a.flex-active{background-position:0 -34px;}

/* Responsive Menu
-------------------------------------------------------------- */
.mysite_responsive #responsive_menu{border:1px solid rgba(100,100,100,.1);color:#aaa;margin:0 auto 20px auto;background-clip:padding-box;}
.mysite_responsive #responsive_menu .select,
.mysite_responsive #responsive_menu .mysite_message{background:url(images/select_menu.png) right center no-repeat;text-indent:20px;}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 998px){
.mysite_responsive #body_inner{width:90%;}
.mysite_responsive .post_more_link{display:inline-block;margin-bottom:5px;}
.mysite_responsive.right_sidebar #main,.mysite_responsive.left_sidebar #main{margin:0;}
.mysite_responsive.right_sidebar #main_inner{margin-right:30px;}
.mysite_responsive.left_sidebar #main_inner{margin-left:30px;}
}
@media screen and (max-width: 768px){
.mysite_responsive .logo{float:none;}
.mysite_responsive.has_image_banner #intro_inner .intro_title{bottom:0}
}
@media screen and (max-width: 650px){
.mysite_responsive.right_sidebar #main_inner,.mysite_responsive.left_sidebar #main_inner{margin:0;}
}
@media screen and (max-width: 480px){
.mysite_responsive #intro .call_to_action{margin-bottom:20px;}
}

/*
===============================================================================================================
10. GUTENBERG EDITOR (see 02. Structure )
=============================================================================================================== */
#header_extras_inner .alignfull,
#slider_module_inner .alignfull,
#breadcrumbs_inner .alignfull,
#sub_footer_inner .alignfull,
#content_inner .alignfull,
#header_inner .alignfull,
#footer_inner .alignfull,
#intro_inner .alignfull,
#outro_inner .alignfull{
	margin-left: -40px;
	width: calc(100% + 80px);
	max-width: calc(100% + 80px);
}
#header_extras_inner .alignwide,
#slider_module_inner .alignwide,
#breadcrumbs_inner .alignwide,
#sub_footer_inner .alignwide,
#content_inner .alignwide,
#header_inner .alignwide,
#footer_inner .alignwide,
#intro_inner .alignwide,
#outro_inner .alignwide{
	margin-left: -20px;
	width: calc(100% + 40px);
	max-width: calc(100% + 40px);
}