/*
Theme Name: Fusion MSMW
Theme URI: https://fusion.backstopthemes.com
Description: A simple and enduring responsive WordPress Theme
Author: BackStop Themes
Author URI: https://backstopthemes.com
Version: 2.8.8
Text Domain: backstop-themes
License:     GPL2
License URI: https://www.gnu.org/licenses/gpl-2.0.html
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, footer-widgets, flexible-header, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog
*/

/*  TOC 
01. GENERAL TYPOGRAPHY 
02. STRUCTURE
03. MENU
04. POST LISTS & GRIDS
05. SINGULAR POSTS
06. WIDGETS & SHORTCODES
07. SLIDERS
08. PROGRESSIVE ENHANCEMENTS
09. RESPONSIVENESS & MOBILE
10. GUTENBERG EDITOR
*/

/*
===============================================================================================================
01. GENERAL TYPOGRAPHY
=============================================================================================================== */

/* Global Reset
-------------------------------------------------------------- */
html,body,div,form,fieldset,input,textarea,h1,h2,h3,h4,h5,h6,p,ul,ol,li{vertical-align:baseline;padding:0;margin:0;}
h1,h2,h3,h4,h5,h6,p,ul,ol{margin-bottom:20px;}
input,textarea{font-family:inherit;padding:4px;}
img,fieldset{border:0;}
body{letter-spacing:.25px;word-spacing:.5px;line-height:20px;font-size:13px;}
a,a:hover,a:active,a:focus{text-decoration:none;outline:0 none;outline-style:none;}
ol{list-style:decimal outside;}
ul{list-style:disc outside;}
ul,ol{padding-left:25px;}
li ol,li ul{margin-bottom:0;}

/* Headers
-------------------------------------------------------------- */
h1{font-size:34px;line-height:104%;letter-spacing:0px;}
h2{font-size:30px;line-height:117%;letter-spacing:0px;}
h3{font-size:22px;line-height:136%;letter-spacing:0px;}
h4{font-size:16px;line-height:156%;letter-spacing:1px;}
h5{font-size:10px;letter-spacing:3px;text-transform:uppercase;font-family:arial;border-bottom:1px dashed #ddd;padding-bottom:4px;margin-bottom:20px;}
h6{font-size:10px;letter-spacing:3px;text-transform:uppercase;}
h4+h6{margin-top:-20px;}
.teaser{line-height:25px;}
#intro .intro_title,.jqueryslidemenu a,#outro{letter-spacing:.5px;}
.share_this_title,.fancy_read_more .post_more_link{font-size:14px;letter-spacing:1px;line-height:25px;}
#reply-title,.blog_tabs a,#comments-title,.about_author_title,.additional_posts_module .one_half h4{clear:both;display:inline-block;font-weight:normal;font-size:14px;letter-spacing:1px;line-height:35px;padding:0 30px;margin-bottom:0;}
#sidebar #wp-calendar caption{text-align:left;letter-spacing:1px;line-height:35px;padding:0 30px;margin-bottom:0;}
#sidebar .widgettitle{left:-30px;position:relative;top:-25px;width:100%;letter-spacing:1px;line-height:35px;padding:0 30px;margin-bottom:0;}

/* Forms & Buttons 
-------------------------------------------------------------- */
.textfield,.password,.textarea,#s,#comment,.mysite_form .select{background:url(styles/_rgba/black03.png);color:#aaa;font-size:13px;border:none;}
.textarea,#comment{width:95%;}
.textfield:focus,.password:focus,.textarea:focus,#s:focus,#comment:focus{outline:0 none;opacity:.7;color:#333;}
.mysite_form .select{background:url(images/select.png) right top no-repeat #f0f0f0;background-color:rgba(0,0,0,.03);}
.mysite_form .select,.mysite_form select.styled{height:32px!important;line-height:32px;}
.call_to_action.alignright{margin-bottom:3px;margin-top:3px;}
/* search */
#searchsubmit{position:relative;top:-1px;}
.right_sidebar #sidebar #searchsubmit{padding:10px 8px;}
.right_sidebar #sidebar #s{width:80px;}
.left_sidebar #sidebar #searchsubmit{padding:10px 5px;}
.left_sidebar #sidebar #s{width:80px;}
/* fancy link*/
.fancy_link_arrow{border-bottom:4px solid transparent !important;border-left:5px solid;border-top:4px solid transparent !important;display:inline-block;height:0 !important;margin-left:5px;vertical-align:baseline;}

/* Accent Trim
-------------------------------------------------------------- */
#sidebar .widgettitle,#sidebar #wp-calendar caption,.single_post_image,.blog_layout1 .post_grid_image,.blog_layout3 .post_grid_image,.fancy_portfolio .post_grid_image{border-bottom:4px solid #E2E2E2;}
.comment>div,.trackbacks_pingbacks>li,
.about_author_content,.blog_tabs_content,#commentform,.additional_posts .post_list{border-top:4px solid #E2E2E2;}
.titled_box_title{border-bottom-width:4px!important;border-bottom-style:solid;}

/* Accent Buttons
-------------------------------------------------------------- */
.portfolio .date,.post_nav_module a,.author_bio .fancy_link_a,.post_meta span a,
.moderation,.comment-edit-link,.comment-reply-link,#comments .date{color:#fff;display:inline-block;font-size:8px;letter-spacing:1.2px;padding:0 10px;text-transform:uppercase;background-repeat:repeat;}
.post_meta .meta_author a,#comments .date{background-image:none;}
.post_meta .meta_comments a,.comment-edit-link,.moderation{background-image:url(styles/_rgba/black30.png);}
.portfolio .date,.post_nav_module a,.author_bio .fancy_link_a,.post_meta .meta_date a,.comment-reply-link{background-image:url(styles/_rgba/black60.png);}

/* Fancy Columns 
-------------------------------------------------------------- */
/*full*/
.fancy_portfolio .two_column_portfolio .one_half,.blog_layout3 .one_half,.additional_posts_module .one_half{width:485px;margin-right:10px;}
.fancy_portfolio .three_column_portfolio .one_third{width:320px;margin-right:10px;}
.fancy_portfolio .four_column_portfolio .one_fourth,.additional_posts_module .one_fourth{width:237px;margin-right:10px;}
/*left*/
.left_sidebar .blog_layout3 .one_half,
.left_sidebar .additional_posts_module .one_half{width:370px;}
.left_sidebar .additional_posts_module .one_fourth{width:180px;}
/*right*/
.right_sidebar .blog_layout3 .one_half,
.right_sidebar .additional_posts_module .one_half{width:355px;}
.right_sidebar .additional_posts_module .one_fourth{width:172px;}
/*last*/
.fancy_portfolio .two_column_portfolio .last,.fancy_portfolio .three_column_portfolio .last,.fancy_portfolio .four_column_portfolio .last,
.blog_layout3 .last,.additional_posts_module .last{margin-right:0;}
/*post grids*/
.additional_posts_module .post_grid_module,
.blog_layout1 .post_grid_module,
.blog_layout3 .post_grid_module,
.fancy_portfolio .post_grid_module{margin-bottom:10px;padding:0;}
.single_post_image,
.blog_layout1 .post_grid_image,
.blog_layout3 .post_grid_image,
.fancy_portfolio .post_grid_image{margin:0;}
.single_post_content,
.blog_layout1 .post_grid_content,
.blog_layout3 .post_grid_content,
.fancy_portfolio .post_grid_content{padding:20px 30px;}
.single_post_content,.blog_layout2 .post_list_content{padding:25px 30px;}

/* Images & Galleria
-------------------------------------------------------------- */
.gallery .gallery-caption { color: #aaa; font-size: 10px; margin: 0 0 10px;}
.fancy_image_caption{bottom:-21px;}
.image_overlay{background:url(styles/_rgba/white70.png);display:block;height:1px !important;margin:0;padding:0;position:absolute;top:0;width:100%;}
.wp-caption,#content .gallery img,.single_post_image img,.post_grid_image img,.post_list_image img,
.framed,.video_frame,.mysite_flickr_widget img,.avatar,.about_author_module .avatar{border:0px none;}
/* galleria */
#body_inner .galleria-container{margin:0;padding:0;background-color:transparent;}
#body_inner .galleria-thumbnails .galleria-image{background:transparent;border:0;}
#body_inner .galleria-stage{top:0!important;left:0!important;right:0!important;bottom:60px!important;}
#body_inner .galleria-thumbnails-container{bottom:0!important;left:0!important;right:0!important;height:50px!important;}
/* Featured Images for Pages */
.page .single_post_image{margin:-30px -30px 30px;position:relative;}
.page .single_post_image .fancy_read_more{display:none!important;}

/*
===============================================================================================================
02. STRUCTURE
=============================================================================================================== */

body{position:relative;min-width:1020px;}
#body_inner{position:relative;width:980px;margin:0 auto;}
#sidebar .widget,#slider_module_inner,.page,
.about_author_content,#commentform,.comment>div,.trackbacks_pingbacks>li,.additional_posts_module .small_post_list,.single_post_module{margin-bottom:10px;padding:25px 30px;}
.page{padding:30px;}
.one_column_portfolio,.two_column_portfolio,.three_column_portfolio,.four_column_portfolio,
.one_column_blog,.two_column_blog,.three_column_blog,.four_column_blog,
.widget .post_grid_module,.widget .post_list_module,.additional_posts_module.post_list_module{background:none!important;padding:0!important;border:none!important;}

/* Custom Backgrounds
-------------------------------------------------------------- */
body.has_custombg>.multibg>.multibg,body.has_custombg>.multibg{display:none;}
#fullbg{top:0;}

/* Header
-------------------------------------------------------------- */
#header{height:80px;position:relative;z-index:1010;}
#header_extras_inner{overflow:hidden;padding-bottom:5px;}
.header_links{float:left;padding:2px 0 3px;}
.header_links li{float:left;padding-right:12px;}
.header_links ul{list-style:none;padding:0;margin:0;}
.header_links ul ul{float:right;margin-right:0px;}
.header_social{float:right;}
.header_social .social_icon{float:left;padding:0 2px;}
.header_social img{vertical-align:bottom;}
.header_text{float:right;padding:2px 10px;}
.logo{position:absolute;top:0px;line-height:75px;letter-spacing:.2px;}
.logo a:hover{text-decoration:none;}
.logo img{vertical-align:middle;}

/* Intro & Breadcrumbs
-------------------------------------------------------------- */
#intro{position:relative;margin-bottom:10px;}
#intro .intro_title{margin-bottom:0;margin-right:30px;padding:25px 30px;float:left;max-width:48%;display:inline-block;min-width:120px;}
#intro .teaser{margin-bottom:0;padding:15px 0;overflow:hidden;}
#slider_module+#intro{padding:25px 30px;}
#slider_module+#intro h3{margin-bottom:0;}
#breadcrumbs{letter-spacing:.5px;margin-bottom:20px;}
#breadcrumbs .delimiter{padding:0 5px;opacity:.5;}
.fancy_portfolio #breadcrumbs{display:none;}
.single_post_module #breadcrumbs .delimiter{padding:0 2px;}
/* Image Banner Intros */
.has_image_banner #intro .intro_title{position:absolute;top:0;left:0;background:rgba(0,0,0,.7);box-shadow:1px 0 0 rgba(255,255,255,.1);padding-top:40px;}
.has_image_banner #intro .post_meta {display:none!important;}
.has_image_banner .image_banner{width:100%!important;height:auto!important;vertical-align:bottom;}
.image_banner_intro:after{content:"";position:absolute;height:100%;width:100%;top:0;left:0;box-shadow:0 1px 0 rgba(255,255,255,0.7) inset,0 1px 2px rgba(0,0,0,.3);min-height:100px;}
.mysite_responsive.has_image_banner #intro .intro_title{padding-bottom:40px!important;bottom:0;}

/* Content
-------------------------------------------------------------- */
#main{min-height:250px;}
.right_sidebar #main{float:left;width:730px;}
.right_sidebar #sidebar{float:left;width:250px;}
.right_sidebar #main_inner{margin-right:10px;}
.left_sidebar #main{float:right;width:760px;}
.left_sidebar #sidebar{float:right;width:220px;}
.left_sidebar #main_inner{margin-left:10px;}

/* Footer
-------------------------------------------------------------- */
#outro{padding:25px 35px;}
#outro p{font-size:20px;line-height:30px;margin-bottom:0;padding:10px 0;}
#footer_inner{padding:25px 30px;}
#footer .widgettitle{font-size:16px;margin-bottom:10px;}
.no_outro #footer{margin-top:20px;}
#sub_footer{border-top:1px solid rgba(0,0,0,.03);overflow:hidden;position:relative;}
#sub_footer_inner{width:920px;margin:0 auto;padding:5px 0;}
#sub_footer a:hover{text-decoration:none;}
.copyright_text{float:left;}
.footer_links{float:right;}
.footer_links li{float:left;padding-right:12px;}
.footer_links ul{list-style:none;padding:0;margin:0;}
.footer_links ul ul{float:right;margin-right:0px;}
.no_footer #footer{display:none;}

/* Squeeze Page
-------------------------------------------------------------- */
.squeeze_page #body_inner{width:800px;margin:0 auto;}

/*
===============================================================================================================
03. MENU
=============================================================================================================== */

#primary_menu{position:absolute;top:-1px;right:0;}
.jqueryslidemenu{position:relative;z-index:2000;}
.jqueryslidemenu ul{margin:0;padding:0;list-style:none;}
.jqueryslidemenu li{margin:0;padding:0;list-style:none;float:left;position:relative;display:inline;}
.jqueryslidemenu a{display:block;padding:14px 15px;line-height:20px;padding-top:25px;}
.jqueryslidemenu a:hover{text-decoration:none;}
.jqueryslidemenu a small{display:none;}
.jqueryslidemenu ul ul{width:208px;position:absolute;visibility:hidden;}
.jqueryslidemenu ul ul li{display:list-item;float:none;padding:1px 0;}
.jqueryslidemenu ul ul a{width:178px;margin:0;padding:6px 15px;font-size:13px;}
.jqueryslidemenu ul ul a:hover{background:url(styles/_rgba/white10.png);}
.jqueryslidemenu ul ul ul{z-index:2001;}
.jqueryslidemenu ul ul,
.jqueryslidemenu>ul>.current_page_parent>a,.jqueryslidemenu>ul>.current_page_ancestor>a,.jqueryslidemenu>ul>.current_page_item>a,
.jqueryslidemenu>ul>li>a:hover,.jqueryslidemenu>ul>li:hover>a{background:#000;color:#fff;}
.ie .jqueryslidemenu ul ul{border-left:1px solid transparent;border-right:1px solid transparent;}

/*
===============================================================================================================
04. POST LISTS & GRIDS
=============================================================================================================== */

.single_post_image,.post_grid_image,.post_list_image{position:relative;}
.bypostauthor {background-color: #aaa;}
.sticky {background: #f0f0f0; padding: 10px;}

/* Blog Index/Fancy Portfolios 
-------------------------------------------------------------- */
.fancy_portfolio .page{padding:0;background:none;}
.fancy_portfolio .post_excerpt{overflow:hidden;margin-top:5px;}
.fancy_portfolio .post_grid_content .date{background:#000;color:#fff;float:left;line-height:10px;margin-left:-30px;margin-right:10px;padding:10px 10px 10px 30px;letter-spacing:.5px;}

/* Specific Layouts
-------------------------------------------------------------- */
.post_title{overflow:hidden;}
.post_list_module{margin-bottom:10px;padding:0;}
.blog_layout2 .post_list_image{margin:0;}
.post_excerpt,
.post_excerpt p,
.post_grid_image a{margin-bottom:0;}
.fancy_read_more{background:url(styles/_rgba/black80.png);position:absolute;bottom:0;width:100%;text-align:right;}
.fancy_read_more .post_more_link{background:url(images/arrow.png) no-repeat right 7px!important;line-height:25px;margin-right:27px;padding-right:20px;padding-left:10px}
.fancy_read_more .visit_site_link{background:none!important;margin-right:0;padding-right:0px;}
.fancy_portfolio .two_column_portfolio .post_title{font-size:24px;line-height:30px;letter-spacing:.5px;margin-bottom:0px;}
.fancy_portfolio .three_column_portfolio .post_title{font-size:18px;line-height:25px;letter-spacing:.5px;margin-bottom:0px;}
.fancy_portfolio .four_column_portfolio .post_title{font-size:16px;line-height:20px;letter-spacing:.5px;margin-bottom:0px;}

/* Meta
-------------------------------------------------------------- */
.post_meta{font-size:9px;letter-spacing:.5px;margin-right:10px;margin-bottom:20px;}
.post_meta a:hover{text-decoration:none;}
.post_meta em{display:none;}
.post_meta span{margin-right:0;}

/* Read More Links 
-------------------------------------------------------------- */
.post_more_link{text-decoration:none;background:#222;color:#fff;display:inline-block;padding:2px 15px;font-size:10px;letter-spacing:.5px;text-transform:uppercase;margin-bottom:5px;}
.post_more_link:hover{text-decoration:none;color:#fff;}
.post_more_link+.post_more_link:before{content:"|";font-size:9px;opacity:0.5;padding-right:10px;}

/*
===============================================================================================================
05. SINGULAR POSTS
=============================================================================================================== */

.single_post_module{padding:0;}
.edit_link{margin:10px 0;}
#intro .post_meta{display:inline-block;margin-bottom:0;margin-left:-25px;}
#intro .post_meta span{display:block;margin-top:5px;}

/* Bottom Meta
-------------------------------------------------------------- */
.post_meta_bottom{font-size:10px;letter-spacing:.5px;}
.post_meta_bottom span{display:block;}
.post_meta_bottom a{color:#bbb;}
.post_meta_bottom em{font-style:normal;text-transform:uppercase;}

/* Post Nav Module
-------------------------------------------------------------- */
.post_nav_module{margin:20px 0;overflow:hidden;}
.previous_post{float:left;}
.next_post{text-align:right;}

/* Share This Module
-------------------------------------------------------------- */
.share_this_module{padding:0;position:absolute;bottom:0;width:100%;background:url(styles/_rgba/black80.png);}
.share_this_title{float:left;color:#fff;line-height:30px;margin-right:8px;margin-bottom:0;padding-left:30px;}
.share_this_content a{display:inline-block;line-height:30px;}
.post_sociable{padding:0!important;margin:6px!important;vertical-align:middle;}

/* About Author Module
-------------------------------------------------------------- */
.about_author_module{position:relative;background:url(styles/_rgba/black05.png);}
.author_bio{overflow:hidden;margin-bottom:0;}
.author_name{display:block;margin-bottom:10px;font-weight:normal;letter-spacing:1px;}
.about_author_module .avatar{float:left;margin-right:30px;}
.about_author_module .fancy_link{display:block;margin:5px 0;}
.about_author_module .fancy_link_arrow{display:none;}

/* Blog Tabs
-------------------------------------------------------------- */
.blog_tabs{list-style-type:none;clear:left;height:35px;margin:0;padding:0;background:url(styles/_rgba/black05.png);}
.blog_tabs li{float:left;}
.blog_tabs a{float:left;display:block;text-decoration:none;position:relative;}
.blog_tabs a:hover{text-decoration:none;}
.blog_tabs a.current{color:#fff;cursor:default;background:#000;}
.blog_tabs_content{padding-top:5px;}
.blog_tabs_content .post_title{font-size:12px;line-height:20px;}

/* Additional Posts Module
-------------------------------------------------------------- */
.additional_posts_module{margin-bottom:10px;}
.additional_posts_module .post_grid_module .post_title{font-size:10px;line-height:15px;margin-bottom:0;}
.additional_posts_module .post_grid_content{padding:10px 30px;}
.additional_posts_module .post_grid_image img{vertical-align:bottom;}
.additional_posts_module .post_grid_image,.additional_posts_module .post_grid,.additional_posts_module .post_grid_module{margin-bottom:0;}
.additional_posts{background:url(styles/_rgba/black05.png);}

/* Threaded Comments
-------------------------------------------------------------- */
#comments .avatar{float:left;margin-right:30px;}
.commentlist cite{font-style:normal;padding-right:16px;margin-bottom:0;display:inline-block;letter-spacing:1px;}
.commentlist{margin:0;padding:0;}
.commentlist li{margin-left:0;list-style:none;overflow:hidden;clear:both;}
.commentlist li ul li{padding-left:110px;background:url(images/comment_arrow.png) no-repeat 15px 15px;}
#comments .children{padding:0;}
.comment-text{overflow:hidden;position:relative;z-index:0;min-height:80px;}
.comment-text p{margin-bottom:10px;padding-top:10px;}
.comment-text li{border:none!important;padding:2px;margin:0;}
.comment-text ol li{list-style:decimal;overflow:visible;}
.commentmetadata{float:right;}
.moderation,.comment-edit-link,.comment-reply-link,#comments .date{float:right;margin-left:3px;}

/* Reply Form
-------------------------------------------------------------- */
#respond{background:url(styles/_rgba/black05.png);}
#commentform{padding-top:40px;}
#commentform #email,#commentform #author,#commentform #url{width:250px;}
#cancel-comment-reply-link{color:#CCC;display:block;font-size:10px;letter-spacing:1px;line-height:20px;margin-top:10px;position:absolute;text-transform:uppercase;}
#cancel-comment-reply-link:hover{text-decoration:none!important;border-bottom:1px dashed #eee;}

/*
===============================================================================================================
06. WIDGETS & SHORTCODES
=============================================================================================================== */

.widget ul{margin:0;padding:0;list-style:none;}
.widget li{padding-top:4px;padding-bottom:1px;}
#sidebar .widget a:hover{text-decoration:none;}
.widget_rss li a{font-size:13px;}
/* Footer */
#footer .widget{margin-bottom:20px;}

/* Popular/Related Posts
-------------------------------------------------------------- */
.widget .post_list_image{margin-right:15px;}
.widget .post_list_module{margin-bottom:10px;}
.widget .post_list_content{padding:0;}

/* Categories/Archives/Etc. 
-------------------------------------------------------------- */
#content .activation_link_list li,#content .widget_archive li,#content .widget_categories li,#content .widget_links li,#content .widget_nav_menu li,#content .widget_pages li,#content .mysite_subnav_widget li,#content .widget_recent_entries li{background:url(images/arrow2.png) no-repeat 1px 8px;padding-left:25px;}

/* Twitter
-------------------------------------------------------------- */
#intro .tweet{background:url(images/tweet_icon.png) no-repeat 0 5px!important;padding-left:35px;display:block;}
#intro .tweet:hover,.mysite_twitter_widget a:hover{text-decoration:none;}
#outro .mysite_twitter_widget li{background:url(images/tweet_icon.png) no-repeat 0 5px!important;padding-left:35px;}
.mysite_twitter_widget li{padding-top:5px;padding-bottom:5px;}

/* Navi
-------------------------------------------------------------- */
.wp-pagenavi a,.wp-pagenavi .current,.wp-pagenavi .extend,.paged-navigation .page-numbers{background:url(styles/_rgba/black05.png);border:1px solid rgba(0,0,0,0.05);}
.wp-pagenavi a:hover,.paged-navigation a:hover{background:url(styles/_rgba/black10.png);}

/* WP Calendar
-------------------------------------------------------------- */
#wp-calendar{color:#888;background:url(styles/_rgba/black01.png);}
#today{background:url(styles/_rgba/black03.png);}
#wp-calendar caption{background:#888;color:#fff;}
#sidebar .widget_calendar{padding:0;}
#sidebar .widget_calendar .widgettitle{display:none;}
#sidebar .widget_calendar #wp-calendar{border:20px solid transparent;margin-bottom:0;}

/* Misc
-------------------------------------------------------------- */
.tabs_vertical_frame, .featured_tabs_frame{width:195px;}
.featured_tabs_content{padding-left:30px;}
.tabs_button a.current{background-image:none;}
.fancy_images{margin-left:-10px;}
.fancy_image{margin-bottom:10px;margin-left:10px;}
.titled_box_title{background-image:none;border:none;}
.fancy_table,.titled_box_content,.fancy_box,.pullquote,.toggle_frame{background:#fff;}
.mysite_flickr_widget img{padding:0;}

/*
===============================================================================================================
07. SLIDERS
=============================================================================================================== */

#slider_module{position:relative;clear:both;}
#slider_module_inner{padding:0;}
/* Fading */
#mysite_fading_slider{margin:0 auto;overflow:hidden;position:relative;}
#fading_slides{cursor:pointer;position:relative;height:470px;width:980px;}
.single_fading_slide{width:100%;height:100%;position:absolute;top:0;left:0;overflow:hidden;}
/* Scrolling */
#mysite_scrolling_slider{overflow:hidden;height:470px;width:980px;position:relative;}
#scrolling_slides{width:9999em;position:absolute;height:100%;}
.single_scrolling_slide{float:left;position:relative;width:980px;height:100%;overflow:hidden;}
/* Nivo */
#mysite_nivo_slider{margin:0;width:980px;}
.nivo-main-image{width:100%;}
.nivo_slider #slider_module_inner{overflow:hidden;padding:0;}
#mysite_nivo_slider .nivo-controlNav{position:absolute;bottom:0;width:920px;padding:6px 30px;z-index:1001;text-align:right;float:none;background:url(styles/_rgba/black80.png);}
#mysite_nivo_slider .nivo-controlNav a{display:inline-block;text-align:left;background:url(images/sliders/nav_dots_sprite.png) center 0px no-repeat;margin:0;height:18px;width:15px;}
#mysite_nivo_slider .nivo-controlNav a.active{background-position: center -34px;}

/* Slider Nav
-------------------------------------------------------------- */
.slider_nav{position:absolute;bottom:0;left:0;z-index:1001;width:920px;padding:6px 30px;text-align:right;background:url(styles/_rgba/black80.png);}
/* Nav Thumbs */
.slider_nav_thumb .slider_nav a{margin:0 10px 0 -1px;line-height:0px;font-size:1px;float:left;}
.slider_nav_thumb .slider_nav a:hover img{opacity:.7;}
.slider_nav_thumb .slider_nav img{border:1px solid transparent;}
.slider_nav_thumb .slider_nav .current img{border-color:#fff;opacity:.7;}
/* Nav Dots */
.slider_nav_dots .slider_nav a{width:15px;height:18px;margin:0px;background:url(images/sliders/nav_dots_sprite.png) center 0px no-repeat;display:inline-block;vertical-align:middle;}
.slider_nav_dots .slider_nav a:hover{opacity:.7;}
.slider_nav_dots .slider_nav .current{background-position:center -34px;}

/* Stageing Effects
-------------------------------------------------------------- */
.slide_title{color:#fff;line-height:110%;}
.slide_content{z-index:4;color:#eee;font-size:15px;height:344px;left:40px;line-height:25px;overflow:hidden;position:absolute;top:40px;width:340px;}
.slide_overlay{z-index:3;position:absolute;}
.positioning{z-index:1;float:right;margin-top:0px;margin-right:0px;}
/* Full/Raw */
#slider_module_inner .raw_html .slide_content{height:100%;width:100%;top:0;left:0;}
/* Floating */
#slider_module_inner .floating_slide{background:url(images/sliders/floating_shadow.png) center bottom no-repeat;}
.floating_slide .slider_nav{bottom:40px;}
/* Staged */
#slider_module_inner .staged_slide .slide_image{background:#000;padding:5px;}
/* Overlay */
#slider_module_inner .overlay_slide .slide_content{height:auto;left:0;top:60px;width:550px;padding:30px;background:url(styles/_rgba/black80.png);}
/* Partial Staged */
#slider_module_inner .partial_staged_slide{background:url(images/sliders/partial_stagedR.png) bottom center no-repeat;}
#slider_module_inner .partial_staged_slide .positioning{margin-right:30px;margin-top:30px;}
#slider_module_inner .partial_staged_slide .slide_content{height:390px;top:30px;left:30px;width:340px;}
/* Partial Staged Left */
#slider_module_inner .partial_staged_slideL{background:url(images/sliders/partial_stagedL.png) bottom center no-repeat;}
#slider_module_inner .partial_staged_slideL .positioning{float:left;margin-left:30px;margin-top:30px;}
#slider_module_inner .partial_staged_slideL .slide_content{height:390px;left:auto;right:30px;top:40px;width:340px;}
/* Partial Gradient */
#slider_module_inner .partial_gradient_slide .slide_content{height:320px;left:60px;top:60px;width:330px;}
#slider_module_inner .partial_gradient_slide .slide_overlay{height:375px;left:30px;top:30px;width:380px;background-clip:padding-box;border:3px solid rgba(0,0,0,0.3);}

/* 
===============================================================================================================
08. PROGRESSIVE ENHANCEMENTS
=============================================================================================================== */

/* Border Radius
-------------------------------------------------------------- */
.tabs_button a.current,.portfolio .date,
.post_nav_module a,.author_bio .fancy_link_a,
.mysite_responsive #responsive_menu,.fancy_button,.button_link,#searchsubmit,#respond #submit,
.moderation,.comment-edit-link,.comment-reply-link,#comments .date,
.post-edit-link,.post_meta span a{border-radius:2px;}
.fancy_portfolio .portfolio .date{border-radius:0px;}

/* Box Shadow
-------------------------------------------------------------- */
#footer .avatar,#footer .framed,
#footer .mysite_flickr_widget img,
#footer .post_grid_image img,#footer .post_list_image img,
#slider_module+#intro,#intro .intro_title,#outro,
#sidebar .widget,.page,.share_this_module,.about_author_module,.additional_posts .post_list,
#commentform,.popular_posts_module,.related_posts_module,.comment>div,.trackbacks_pingbacks>li,.single_post_module,
.blog_layout1 .post_grid_module,.blog_layout2 .post_list_module,.blog_layout3 .post_grid_module,.fancy_portfolio .post_grid_module,.additional_posts_module .post_grid_module,
.overlay_slide .slide_image,.partial_gradient_slide .slide_image,.floating_slide .slide_image,.staged_slide .slide_image,
.fancy_table,.widget_calendar table,.fancy_titled_box,.fancy_box,.color_scheme_box_content,.framed_tab_set .tab_content,.framed,.wp-caption,dl.gallery-item img,
.framed,.video_frame{box-shadow:0 1px 2px rgba(0,0,0,0.2),0 1px 0px rgba(255,255,255,0.1) inset;}
.textfield,.password,.textarea,#s,#comment,.mysite_form .select{box-shadow:0 1px 0 #fff,0 1px 1px rgba(0,0,0,0.1) inset;}
.jqueryslidemenu ul ul {box-shadow:0 4px 3px rgba(0,0,0,.2);}
#slider_module_inner .overlay_slide .slide_content,
#slider_module_inner .partial_gradient_slide .slide_overlay{box-shadow: 0 0 1px rgba(255,255,255,.1);}
.share_this_module,.fancy_read_more,.slider_nav{box-shadow:0 -1px 0 rgba(255,255,255,.1);}
.colored_box_title,.titled_box_title,.about_author_title,.additional_posts h4,.blog_tabs a.current,#comments-title,#reply-title,
#intro .intro_title,#sidebar .widgettitle,#sidebar #wp-calendar caption{box-shadow:0 1px 0 rgba(255,255,255,0.2) inset;}
.mysite_responsive #responsive_menu,.fancy_button,.button_link,#searchsubmit,#respond #submit{box-shadow:0 1px 0 rgba(0,0,0,0.4),0 1px 0px rgba(255,255,255,0.3) inset,1px 0 0 rgba(255,255,255,0.1) inset,-1px 0 0 rgba(255,255,255,0.1) inset;}
.fancy_portfolio .page,
.widget .post_list_module,.additional_posts .post_list_module{box-shadow:none;}

/* Gradients
-------------------------------------------------------------- */
.partial_gradient_slide .slide_overlay{background-image:radial-gradient(at top right,rgba(0,0,0,.1),rgba(0,0,0,.4));}
.mysite_responsive #responsive_menu,.fancy_button,.button_link,#searchsubmit,#respond #submit{background-image:linear-gradient(to bottom,rgba(255,255,255,0.15),rgba(255,255,255,0.1) 50%,rgba(0,0,0,0.01) 51%,rgba(0,0,0,0.1));}

/* Transitions
-------------------------------------------------------------- */
.jqueryslidemenu ul ul a{opacity:1;transition: all .5s ease;}
.widget a,.share_this_content a,.post_nav_module a,
.post_meta span a,.author_bio .fancy_link_a,.comment-edit-link,.comment-reply-link,
.blog_tabs a,.share_this_content a,.header_social .social_icon,.header_links a,.slider_nav_thumb .slider_nav a,.slider_nav_thumb .slider_nav img{transition: all .3s ease-in-out;}
.widget_tag_cloud a:hover,
.share_this_content a:hover,
.header_social .social_icon:hover{opacity:.4;}
.author_bio .fancy_link_a:hover,.author_bio .fancy_link:hover,
.post_nav_module a:hover,.post_meta span a:hover,
.comment-edit-link:hover,.comment-reply-link:hover{color:#fff;text-decoration:none;opacity:.8;}

/*
===============================================================================================================
09. RESPONSIVENESS & MOBILE
=============================================================================================================== */

/* Responsive Slider
-------------------------------------------------------------- */
.mysite_responsive .flexslider{border:none;background:none;padding-bottom:22px;border-radius:0;margin-bottom:10px;}
.slider_content_left .flexslider,
.slider_content_right .flexslider{width:550px;}
.mysite_responsive .flexslider_content{font-size:14px;padding:30px;}
.mysite_responsive .flex-control-nav{bottom:0;padding:2px 0;background:padding-box #000;border-top:1px solid rgba(255,255,255,0.1);}
.mysite_responsive .flex-direction-nav li a {height:80px;background-image:url(images/bg_direction_nav.png);margin:-40px 0 0;}
.mysite_responsive .flex-direction-nav li .flex-prev {left:-13px;}
.mysite_responsive .flex-direction-nav li .flex-next {right:-13px;}
.mysite_responsive .flex-control-nav li{margin:0;}
.mysite_responsive .flex-control-nav li a{width:20px;height:20px;background:url(images/sliders/nav_dots_sprite.png) 0 0 no-repeat transparent;}
.mysite_responsive .flex-control-nav li a:hover{background-position:0 0;opacity:.7;}
.mysite_responsive .flex-control-nav li a.flex-active{background-position:0 -34px;}

/* Responsive Menu
-------------------------------------------------------------- */
.mysite_responsive #responsive_menu{margin:10px auto;}
.mysite_responsive #responsive_menu .select,
.mysite_responsive #responsive_menu .mysite_message{background:url(images/select_menu.png) right center no-repeat;color:#fff;text-indent:20px;}

/* Media Queries
-------------------------------------------------------------- */
@media screen and (max-width: 998px){
.mysite_responsive>.multibg,.mysite_responsive{width:100%!important;min-width:100%!important;}
.mysite_responsive #body_inner{width:90%;position:relative;}
.mysite_responsive #content_inner{width:auto!important;}
.mysite_responsive #header{height:auto;}
.mysite_responsive .logo{position:relative;}
.mysite_responsive .single_post_image .share_this_module a{width:auto!important;}
.mysite_responsive .single_post_image .share_this_module .post_sociable{width:auto!important;}
.mysite_responsive .blog_layout3 .one_half,
.mysite_responsive .additional_posts_module .one_half{width:50%!important;margin:0!important;}
.mysite_responsive .additional_posts_module .one_fourth{width:25%!important;float:left!important;clear:none!important;margin:0!important;}
}
@media screen and (max-width: 768px){
.mysite_responsive .post_grid_content .date,
.mysite_responsive #comments .date,
.mysite_responsive #intro .post_meta{display:none!important;}
.mysite_responsive #intro .intro_title{float:none!important;margin:0!important;max-width:100%!important;width:auto!important;padding-bottom:25px!important;}
.mysite_responsive #intro .teaser{padding-top:15px!important;}
.mysite_responsive .additional_posts_module .post_grid_content{padding:5px;}
}
@media screen and (max-width: 650px){
.mysite_responsive .blog_layout3 .one_half,
.mysite_responsive .additional_posts_module .one_half{width:100%!important;}
.mysite_responsive .blog_layout3 .post_grid_image,
.mysite_responsive .blog_layout3 .post_grid_image a,
.mysite_responsive .blog_layout3 .post_grid_image img{width:100%!important;}
.mysite_responsive .fancy_read_more{display:none!important;}
.mysite_responsive .call_to_action.alignright{margin-bottom:20px;}
}
@media screen and (max-width: 480px){
.mysite_responsive .commentlist li ul li{background:none;padding-left:30px;}
.mysite_responsive #comments .avatar{float:left;height:40px;margin-right:20px;width:40px;}
}

/*
===============================================================================================================
10. GUTENBERG EDITOR (see 02. Structure )
=============================================================================================================== */
#body_inner .alignfull{
	margin-left: -30px;
	width: calc(100% + 60px);
	max-width: calc(100% + 60px);
}
#body_inner .alignwide{
	margin-left: -15px;
	width: calc(100% + 30px);
	max-width: calc(100% + 30px);
}