/* Fusion v1.8 - orange   */


.colorscheme_bg,body,body>.multibg>.multibg,#intro .intro_title,#outro,.post_nav_module a,.author_bio .fancy_link_a,
.post_meta span a,#comments .date,.comment-reply-link,.comment-edit-link,.fancy_portfolio .post_grid_content .date,.portfolio .date,
.jqueryslidemenu ul ul,.jqueryslidemenu>ul>li>a:hover,.jqueryslidemenu>ul>li:hover>a,.mysite_responsive #responsive_menu,
.jqueryslidemenu>ul>.current_page_parent>a,.jqueryslidemenu>ul>.current_page_ancestor>a,.jqueryslidemenu>ul>.current_page_item>a,
.staged_slide,.partial_staged_slide,.partial_staged_slideL,.partial_gradient_slide .slide_overlay,
.wp-pagenavi .current,.paged-navigation .current,#wp-calendar caption,
#sidebar .widgettitle,.about_author_title,.blog_tabs a.current,#comments-title,#reply-title,.additional_posts h4,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#e98813;}
.colorscheme_color,h1,.intro_title,cite,cite a,.tabs a.current,
a:hover,.fancy_link_a,.dropcap2,.pullquote3,.highlight2,h5{/*:Color Scheme*/
color:#e98813;}
.colorscheme_border,body,.wp-pagenavi .current,.paged-navigation .current,#wp-calendar caption,.fancy_link_arrow,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,.cluetip-default .cluetip-arrows,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#e98813;}
.colorscheme_sprite,#content .mysite_twitter_widget li,#content .recentcomments,.post_comments_bubble,
#content .contact_widget_name,#content .contact_widget_phone,#content .contact_widget_email,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3,.tabs_vertical li.current span, .featured_tabs li.current_page_item span{/*:Icon Sprite*/ 
background-image:url(../images/shortcodes/sprites/custom_sprite_e98813.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#666;font-size:12px;font-weight:normal;font-style:normal;font-family:Arial,Helvetica,sans-serif;}
h1{/*:h1 Font*/ 
/*color:inherit@;*/font-size:40px;font-weight:normal;font-style:normal;font-family:bebasneue;}
h2{/*:h2 Font*/ 
color:#444;font-size:30px;font-weight:normal;font-style:normal;font-family:bebasneue;}
h3{/*:h3 Font*/ 
color:#444;font-size:27px;font-weight:normal;font-style:normal;font-family:bebasneue;}
h4{/*:h4 Font*/ 
color:#333;font-size:20px;font-weight:normal;font-style:normal;font-family:bebasneue;}
h5{/*:h5 Font*/ 
/*color:inherit@;*/font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
h6{/*:h6 Font*/ 
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
a{/*:Link*/
color:#444;text-decoration:none;}
a:hover{/*:Link Hover*/
/*color:inherit@;*/text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */
background-image:url(../images/noise.png);background-color:#eee;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
body{/*:Body Top Border */
/*border-top-color:inherit@;*/border-top-width:6px;border-top-style:solid;}
/*:Body End ~*~*/


/*:Header ~*~*/
.logo a{/*:Logo Font*/ 
color:#222;font-size:30px;font-weight:normal;font-style:normal;font-family:bebasneue;}
#header{/*:Header Background */
background-image:none;background-color:transparent;background-repeat:no-repeat;background-attachment:scroll;background-position:center bottom;}
#header_extras,#header_extras a{/*:Header Text Font */
color:#888;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu a{/*:Menu Font */
color:#444;font-size:16px;font-weight:normal;font-style:normal;font-family:bebasneue;}
.jqueryslidemenu ul ul a{/*:Menu Dropdown Font */
color:#fff;font-size:14px;font-weight:normal;font-style:normal;font-family:bebasneue;}
.jqueryslidemenu ul ul,.jqueryslidemenu>ul>.current_page_parent>a,.jqueryslidemenu>ul>.current_page_ancestor>a,.jqueryslidemenu>ul>.current_page_item>a,
.jqueryslidemenu>ul>li>a:hover,.jqueryslidemenu>ul>li:hover>a{/*:Menu Dropdown Background */
background-image:none;/*background-color:inherit@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Menu End ~*~*/


/*:Intro ~*~*/
#intro .intro_title{/*:Intro Title Font */
color:#fff;font-size:30px;font-weight:normal;font-style:normal;font-family:bebasneue;}
#intro .teaser{/*:Intro Teaser Font */ 
color:#999;font-size:15px;font-weight:normal;font-style:normal;font-family:inherit;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#444;font-size:20px;font-weight:normal;font-style:normal;font-family:bebasneue;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#ccc;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#intro .intro_title{/*:Intro Title Background */
background-image:none;/*background-color:inherit@;*/background-repeat:repeat;background-attachment:scroll;background-position:left top;}
/*:Intro End ~*~*/


/*:Main Content ~*~*/
.colored_box_title,.titled_box_title,
.about_author_title,.additional_posts h4,.blog_tabs a,.blog_tabs a.current,#comments-title,#reply-title{/*:Section Titles Font */
color:#fff;font-size:14px;font-weight:normal;font-style:normal;font-family:bebasneue;}
#slider_module+#intro,#sidebar .widget,.page,.single_post_module,.additional_posts .post_list,.additional_posts_module .post_grid_module,
.blog_layout1 .post_grid_module,.blog_layout3 .post_grid_module,.blog_layout2 .post_list_module,.fancy_portfolio .post_grid_module,
.about_author_content,.popular_posts_module,.related_posts_module,.comment>div,.trackbacks_pingbacks>li,#commentform{/*:Content Modules Background */
background-image:none;background-color:#fff;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
#sidebar .widgettitle,#sidebar .widgettitle a,#sidebar #wp-calendar caption{/*:Sidebar Titles Font */
color:#fff;font-size:14px;font-weight:normal;font-style:normal;font-family:bebasneue;}
.single_post_image,.blog_layout1 .post_grid_image,.blog_layout3 .post_grid_image,.fancy_portfolio .post_grid_image,
.additional_posts .post_list,#sidebar #wp-calendar caption,.comment>div,.trackbacks_pingbacks>li,
#commentform,.blog_tabs_content,.about_author_content,#sidebar .widgettitle,.titled_box_title{/*:Accent Trim Color*/
border-color:#e4e4e4;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro,#outro a{/*:Outro Font */
color:#fff;font-size:15px;font-weight:normal;font-style:normal;font-family:bebasneue;}
#outro{/*:Outro Background */
background-image:none;/*background-color:inherit@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Outro End ~*~*/


/*:Footer ~*~*/
#footer{/*:Footer Font */
color:#999;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#444;font-size:16px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer a{/*:Footer Links */
color:#999;text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#666;text-decoration:none;}
#footer{/*:Footer Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer,#sub_footer a{/*:Sub Footer Font */
color:#aaa;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer{/*:Sub Footer Background */
background-image:url(_rgba/black05.png);background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Sub Footer End ~*~*/


/*:Misc ~*~*/
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/ 
color:#444;font-size:16px;font-weight:normal;font-style:normal;font-family:bebasneue;}
#content .teaser{/*:Content Teaser Font */ 
color:#aaa;font-size:15px;font-weight:normal;font-style:normal;font-family:inherit;}
.author_name,.commentlist cite{/*:Comment Author Font*/
color:#444;font-size:16px;font-weight:normal;font-style:normal;font-family:bebasneue;}
.fancy_read_more .post_more_link {/*:Read More Font*/ 
color:#fff;font-size:14px;font-weight:normal;font-style:normal;font-family:bebasneue;}
/*:Misc End ~*~*/


/* Custom CSS */



#intro .teaser{text-shadow:0 0 1px #fff;}