/* Persuasion v2.1 - hotpink   */

.colorscheme_bg,body,body>.multibg>.multibg,.jqueryslidemenu ul ul,.partial_gradient_slide .slide_overlay,
.wp-pagenavi .current,.paged-navigation .current,
.post_more_link,.comment-reply-link,.comment-edit-link,.post-edit-link,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
background-color:#bc006e;}
.colorscheme_color,h1,.post_title,.post_title a,
a:hover,.fancy_link,.dropcap2,.pullquote3,.highlight2,h5{/*:Color Scheme*/	
color:#bc006e;}
.colorscheme_border,.post_more_link,.comment-reply-link,.comment-edit-link,.post-edit-link,.wp-pagenavi .current,.paged-navigation .current,
body,#header_extras,#sub_footer,.jqueryslidemenu ul ul,
.about_author_title,.comment-reply-link,.commentlist_title,
.button_link,.fancy_button,#searchsubmit,#submit,.cluetip-default,.cluetip-default .cluetip-arrows,
.titled_box_title,.colored_box,.dropcap4,.pullquote4,.highlight,
.tabs_button a.current,.fancy_header span,.minimal_table th{/*:Color Scheme*/
border-color:#bc006e;}
.colorscheme_sprite,#content .mysite_twitter_widget li,#content .recentcomments,#content .widget_recent_entries li,
#content .widget_archive li,#content .widget_categories li,#content .widget_links li,
#content .contact_widget_name,#content .contact_widget_phone,#content .contact_widget_email,
.toggle,.toggle_accordion,.active,.toggle_frame .toggle,.toggle_frame .toggle_accordion,.toggle_frame .active,
.fancy_list .arrow_list,.fancy_list .bullet_list,.fancy_list .check_list,.fancy_list .circle_arrow,.fancy_list .triangle_arrow,.fancy_list .comment_list,.fancy_list .minus_list,.fancy_list .plus_list,.fancy_list .star_list,.sitemap_list li,
blockquote,.download_link,.email_link,.twitter_link,.dropcap,.dropcap3,.tabs_vertical li.current span,.featured_tabs li.current_page_item span{/*:Icon Sprite*/ 
background-image:url(../images/shortcodes/sprites/custom_sprite_bc006e.png);}


/*:General Typography ~*~*/
body{/*:Body Font */
color:#666;font-size:12px;font-weight:normal;font-style:normal;font-family:"Lucida Sans Unicode","Lucida Grande","Droid Sans",sans-serif;}
h1{/*:h1 Font*/ 
/*color:#888@;*/font-size:62px;font-weight:normal;font-style:normal;font-family:colaboratethin;}
h2{/*:h2 Font*/ 
color:#444;font-size:46px;font-weight:normal;font-style:normal;font-family:colaboratethin;}
h3{/*:h3 Font*/ 
color:#444;font-size:36px;font-weight:normal;font-style:normal;font-family:colaboratethin;}
#main h4,#intro h4{/*:h4 Font*/ 
color:#444;font-size:20px;font-weight:normal;font-style:normal;font-family:colaboratelight;}
h5{/*:h5 Font*/ 
/*color:#444@;*/font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
h6{/*:h6 Font*/ 
color:#aaa;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
a{/*:Link*/
color:#aaa;text-decoration:none;}
a:hover{/*:Link Hover*/
/*color:#888@;*/text-decoration:underline;}
/*:Typo End ~*~*/


/*:Body ~*~*/
body{/*:Body BG+ */
background-image:url(hotpink/dark_bg.png);/*background-color:inherit@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Body End ~*~*/


/*:Header ~*~*/
.logo a{/*:Logo Font*/ 
color:#eee;font-size:18px;font-weight:normal;font-style:normal;font-family:colaboratethin;}
#header{/*:Header Background */
background-image:url(../images/header_overlay.png);background-color:transparent;background-repeat:repeat-x;background-attachment:scroll;background-position:center bottom;}
/*:Header End ~*~*/


/*:Menu ~*~*/
.jqueryslidemenu a{/*:Menu Font */
color:#eee;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
#primary_menu{/*:Menu Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;}
.jqueryslidemenu ul ul{/*:Menu Dropdown Background */
background-image:url(_rgba/black40.png);/*background-color:inherit@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
.jqueryslidemenu ul ul{/*:Menu Dropdown Border */
/*border-top-color:inherit@;*/border-top-width:1px;border-top-style:solid;}
/*:Menu End ~*~*/


/*:Intro ~*~*/
#header+#intro{/*:Intro Font */
color:#eee;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
#header+#intro a{/*:Intro Links */
color:#eee;text-decoration:none;}
#header+#intro .intro_title{/*:Intro Title Font */ 
color:#eee;font-size:62px;font-weight:normal;font-style:normal;font-family:colaboratethin;}
#header+#intro .teaser{/*:Intro Teaser Font */ 
color:#eee;font-size:20px;font-weight:normal;font-style:normal;font-family:colaboratelight;}
#slider_module+#intro h3{/*:Call to Action Font*/ 
color:#888;font-size:24px;font-weight:normal;font-style:normal;font-family:colaboratelight;}
#breadcrumbs,#breadcrumbs a{/*:Breadcrumbs Font */
color:#ccc;font-size:10px;font-weight:normal;font-style:normal;font-family:inherit;}
#breadcrumbs{/*:Breadcrumbs Background */
background-image:url(../images/breadcrumbs.gif);background-color:#f9f9f9;background-repeat:repeat-x;background-attachment:scroll;background-position:left bottom;}
#intro{/*:Intro Background */
background-image:none;background-color:transparent;background-repeat:repeat-x;background-attachment:scroll;background-position:left bottom;}
/*:Intro End ~*~*/


/*:Main Content ~*~*/
#content{/*:Main Content Background */
background-image:url(../images/content.gif);background-color:#f9f9f9;background-repeat:repeat-x;background-attachment:scroll;background-position:left top;}
#intro+#content,#header+#content{/*:Content Top Border */
border-top-color:#e0e0e0;border-top-width:5px;border-top-style:solid;}
#sidebar .widgettitle{/*:Sidebar Titles Font */
color:#888;font-size:12px;font-weight:normal;font-style:normal;font-family:inherit;}
/*:Main End ~*~*/


/*:Outro ~*~*/
#outro,#outro a{/*:Outro Font */
color:#898C8E;font-size:18px;font-weight:normal;font-style:normal;font-family:colaboratelight;}
#outro{/*:Outro Background */
background-image:url(../images/outro.png);background-color:#e5e5e5;background-repeat:repeat-x;background-attachment:scroll;background-position:center top;}
#outro{/*:Outro Border */
border-top-color:#e8e8e8;border-top-width:1px;border-top-style:solid;}
/*:Outro End ~*~*/


/*:Footer ~*~*/
#footer{/*:Footer Font */
color:#ccc;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer .widgettitle{/*:Footer Titles Font */
color:#eee;font-size:11px;font-weight:normal;font-style:normal;font-family:inherit;}
#footer a{/*:Footer Links */
color:#eee;text-decoration:none;}
#footer a:hover{/*:Footer Link Hover */
color:#fff;text-decoration:none;} 
#footer{/*:Footer Background */
background-image:none;background-color:transparent;background-repeat:repeat;background-attachment:scroll;background-position:center top;} 
/*:Footer End ~*~*/


/*:Sub Footer ~*~*/
#sub_footer,#sub_footer a{/*:Sub Footer Font */
color:#ccc;font-size:9px;font-weight:normal;font-style:normal;font-family:inherit;}
#sub_footer{/*:Sub Footer Background */
background-image:url(../images/sub_footer.png);/*background-color:transparent@;*/background-repeat:repeat;background-attachment:scroll;background-position:center top;}
/*:Sub Footer End ~*~*/


/*:Misc ~*~*/
.post_title,.post_title a{/*:Post Title Color */ 
/*color:inherit@;*/}
.toggle a,.toggle_accordion a{/*:Toggle Title Font*/ 
color:#888;font-size:15px;font-weight:normal;font-style:normal;font-family:colaboratelight;}
#content .teaser{/*:Content Teaser Font */ 
color:#888;font-size:20px;font-weight:normal;font-style:normal;font-family:colaboratelight;}
/*:Misc End ~*~*/


/* Custom CSS */



#intro .intro_title{/*:Cufon 1 */
/*fontFamily: 'colaboratethin',
color: 'linear-gradient(to bottom,#fff,#f9f9f9, #bbb)',
textShadow: '1px 2px rgba(0, 0, 0, 0.25), 0px -1px rgba(0, 0, 0, 0.1)',*/}
#outro{/*:Cufon 2 */
/*fontFamily: 'colaboratethin',
textShadow: '1px 1px rgba(255,255,255,.8)',*/}
#body_inner{border-top:3px solid rgba(0, 0, 0, 0.5);}
#primay_menu{text-shadow: 0 1px 1px rgba(0,0,0,.5);}
